<!DOCTYPE html>
<html lang="en">

<!--This file must be a singleton, that is, it may not depend on external files -->
<!--because after handlebars renders the html files, these html files will be futher rendered as jpg by phantomjs -->
<head>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link href="../favicon.png" rel="shortcut icon" type="image/png" />
    <link rel="stylesheet" href="../css/fonts.css" media="screen" />

    <title>{{{words.statistic_title}}}</title>

    <style>

        body {
            font-family: "Nunito", Helvetica, Arial, sans-serif;
            font-size: 14px;
            background: #f4f6fe;
            margin: 20px;
            max-width: 430px;
        }

        .statistics {
            border-radius: 3px;
            border-collapse: separate;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
            -moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.05);
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
            background: white;
            padding: 20px 0;
        }

        .statistics .main-title {margin: 0 20px 20px}
        .statistics .main-title h2 {margin: 0}
        .statistics .main-title > span {color: #42444a; font-size: 16px;}
        .statistics .section-title {margin: 10px 0 0}
        .statistics .section-title h4{margin: 10px 0; font-size: 18px; font-weight: 700}
        .statistics .section-title h4:before{content: " -"; background-color: #2c49b9; color: #2c49b9; margin-right: 10px;}
        .statistics .total h4:before{background-color: #efa00b; color: #efa00b;}
        .stats_total tr:last-child {background: #fdf5e6!important}

        .tbl_statistics {width: 90%; padding: 0px 14px; margin: auto;}
        .tbl_statistics .tr-result td {font-weight: bold; color: #000;}
        .tbl_statistics .tr-sub-title td {background: #ffec8b; color: #000; font-weight: bold; text-align: center;}
        .tbl_statistics .main_total {font-weight: bold; color: #000; background: #fdf5e6;}
        .tbl_statistics td:nth-child(2) {text-align: right; min-width: 100px;}
        .tbl_statistics tr:nth-child(1n+21) td{font-size:90%;}
        .tbl_statistics tr:last-child td{font-weight: bold; color: #000}
        
        .statistics .footnote {margin: 15px 20px 0 20px; font-style: italic;}

    </style>

</head>
<body>
    <div class="statistics">
        <div class="main-title">
            <h2>{{{words.statistic_title}}} <span class="stat_title">{{{countryName}}}</span></h2>
            <span>{{{words.average_costs_per_type}}}</span>
        </div>

        <!--Standing Costs-->
        <div class="section-title">
            <h4>{{{words.fixed_costs}}}</h4>
        </div>

        <table class="tbl_statistics">

            <tr>
                <td><span>{{{words.depreciation}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_depreciation value-field">{{{toFixed statsData.costs_perMonth_items_depreciation 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.insurance}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_insurance value-field">{{{toFixed statsData.costs_perMonth_items_insurance 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.credit_interests}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_credit value-field">{{{toFixed statsData.costs_perMonth_items_credit 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.inspection}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_inspection value-field">{{{toFixed statsData.costs_perMonth_items_inspection 0}}}
                    </span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.road_taxes}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_roadTaxes value-field">{{{toFixed statsData.costs_perMonth_items_roadTaxes 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>50% {{{words.maintenance}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_maintenance value-field">{{{toFixed statsData.costs_perMonth_items_maintenance 0}}}</span>
                </td>
            </tr>
            <tr class="tr-result">
                <td><span>{{{words.total_fixed}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_standing_costs value-field">{{{toFixed statsData.costs_perMonth_standingCosts 0}}}</span>
                </td>
            </tr>
        </table>
        <!--End Standing Costs-->


        <!--Running Costs-->
        <div class="section-title">
            <h4>{{{words.running_costs}}}</h4>
        </div>

        <table class="tbl_statistics">
            <tr>
                <td><span>{{{words.fuel}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_fuel value-field">{{{toFixed statsData.costs_perMonth_items_fuel 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>50% {{{words.maintenance}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_maintenance value-field">{{{toFixed statsData.costs_perMonth_items_maintenance 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.rep_improv}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_repairsImprovements value-field">{{{toFixed statsData.costs_perMonth_items_repairsImprovements 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.parking}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_parking value-field">{{{toFixed statsData.costs_perMonth_items_parking 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.tolls}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_tolls value-field">{{{toFixed statsData.costs_perMonth_items_tolls 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.fines}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_fines value-field">{{{toFixed statsData.costs_perMonth_items_fines 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.washing}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_washing value-field">{{{toFixed statsData.costs_perMonth_items_washing 0}}}</span>
                </td>
            </tr>
            <tr class="tr-result">
                <td><span>{{{words.total_variable}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_running_costs value-field">{{{toFixed statsData.costs_perMonth_runningCosts 0}}}</span>
                </td>
            </tr>

        </table><!--End Running Costs-->


        <!--Total-->
        <div class="section-title total">
            <h4>{{{words.word_total_cap}}}</h4>
        </div>

        <table class="tbl_statistics stats_total">
            <tr class="main_total">
                <td><span>{{{words.word_total_cap}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_total_overal value-field">{{{toFixed statsData.costs_perMonth_total 0}}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>{{{words.run_cp_dist}}}</span>
                </td>
                <td>
                    <span>{{{words.curr_symbol}}}</span>
                    <span class="text_running_costs_dist value-field">{{{toFixed statsData.costs_perUnitDistance_runningCosts 2}}}</span>
                    <span>/{{{words.std_dist}}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>{{{words.total_cp_dist}}}</span>
                </td>
                <td>
                    <span>{{{words.curr_symbol}}}</span>
                    <span class="text_total_costs_p_unit value-field">{{{toFixed statsData.costs_perUnitDistance_totalCosts 2}}}</span>
                    <span>/{{{words.std_dist}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.kinetic_speed}}}</span></td>
                <td><span class="text_kinetic_speed value-field">{{{toFixed statsData.speeds_averageKineticSpeed 0}}}</span>
                    <span>{{{words.std_dist}}}/h</span></td>
            </tr>
            <tr>
                <td>
                    <span>{{{words.virtual_speed}}}</span>
                    <a target="_blank"
                           href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
                    *
                    </a>
                </td>
                <td>
                    <span class="text_virtual_speed value-field">{{{toFixed statsData.speeds_averageConsumerSpeed 0}}}</span>
                    <span>{{{words.std_dist}}}/h</span>
                </td>
            </tr>
            <tr>
                <td id="table-td-bottom-left"><span>{{{words.total_costs_per_year}}}</span></td>
                <td id="table-td-bottom-right">
                    <span>{{{words.curr_symbol}}}</span>
                    <span class="text_total_costs_year value-field">{{{toFixed statsData.costs_totalPerYear 0}}}</span>
                </td>
            </tr>
        </table>
        
        <div class="footnote">
            Based on the inputs of {{{statsData.validUsers}}} validated users, who filled the Car Costs Calculator at                 
                <a target="_blank" href="http://{{{domain}}}/{{{statsData.countryCode}}}">{{{domain}}}/{{{statsData.countryCode}}}</a>
        </div>        
    </div>    
</body>
</html>
