
<html>
    <head>
        <title>{{{words.statistic_title}}}</title>
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
        
        <style>
            body {
                font-family: "Nunito", Helvetica, Arial, sans-serif;
                font-size: 14px; 
                background: #f4f6fe;
                margin: 20px
            }

            .statistics {
                border-radius: 3px;
                border-collapse: separate;
                width: 100%;
                margin:0;
                -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05); 
                -moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.05); 
                box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
                background: white;
                padding: 20px 0;
            }

            .statistics .main-title {margin: 0 20px 20px}
            .statistics .main-title h2 {margin: 0}
            .statistics .main-title > span {color: #42444a; font-size: 16px;}
            .statistics .section-title {margin: 30px 0 0}
            .statistics .section-title h4{margin: 10 0; font-size: 18px; font-weight: 700}
            .statistics .section-title h4:before{content: " -"; background-color: #2c49b9; color: #2c49b9; margin-right: 10px;}
            .statistics .total h4:before{background-color: #efa00b; color: #efa00b;}

            #tbl_statistics {
                font-family: "Nunito", Helvetica, Arial, sans-serif;
                color: #797b82;
                border-radius: 10px;
                border-collapse: separate;
                width: 96%;
                margin: 0 2%;
            }

            #tbl_statistics tr {display: block; border-bottom: #d2d4de 1px solid;}
            #tbl_statistics tr:first-child {border-top: #d2d4de 1px solid}
            #tbl_statistics tr:last-child {background: #e9ecf8}

            .stats_total tr:last-child {background: #fdf5e6!important}

            #tbl_statistics td {
                padding: 10px 2%;
                line-height: 100%;
                text-align: left;
                width: 45%;
            }

            #tbl_statistics td + td {
                text-align: right;
            }

            #tbl_statistics tr:last-child td {
                border-collapse: separate;
            }

            #tbl_statistics tr:last-child td + td {
                border-collapse: separate;
            }

            #tbl_statistics td:nth-child(1n) {
                border-left: 0;
            }

            #tbl_statistics td:nth-child(2n) {
                width: 30%;
            }

            #tbl_statistics .tr-result td {
                font-weight: bold;
                color: #000;
            }

            #tbl_statistics .tr-sub-title td {
                background: #ffec8b;
                color: #000;
                font-weight: bold;
                text-align: center;
            }

            #tbl_statistics .main_total {
                font-weight: bold;
                color: #000;
                background: #fdf5e6;
            }

            #tbl_statistics tr:nth-child(1n+21) td{
                font-size:90%;
            }

            #tbl_statistics tr:last-child td{
                font-weight: bold;
                color: #000
            }            
        </style>        
    </head>
    <body>
        <div class="statistics">
            <div class="main-title">
                <h2>{{{words.statistic_title}}} <span class="stat_title">{{{countryName}}}</span></h2>
                <span>{{{words.average_costs_per_type}}}</span>
            </div>   

            <!--Standing Costs-->
            <div class="section-title">
                <h4>{{{words.fixed_costs}}}</h4>
            </div>
            
            <table id="tbl_statistics">
                
                <tr>
                    <td><span>{{{words.depreciation}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_depreciation value-field">{{{statsData.costs_perMonth_items_depreciation}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>{{{words.insurance}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_insurance value-field">{{{statsData.costs_perMonth_items_insurance}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>{{{words.credit_interests}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_credit value-field">{{{statsData.costs_perMonth_items_credit}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>{{{words.inspection}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_inspection value-field">{{{statsData.costs_perMonth_items_inspection}}}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span>{{{words.road_taxes}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_roadTaxes value-field">{{{statsData.costs_perMonth_items_roadTaxes}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>50% {{{words.maintenance}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_maintenance value-field">{{{statsData.costs_perMonth_items_maintenance}}}</span>
                    </td>
                </tr>
                <tr class="tr-result">
                    <td><span>{{{words.total_fixed}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_standing_costs value-field">{{{statsData.costs_perMonth_items_standingCosts}}}</span>
                    </td>
                </tr>
            </table>
            <!--End Standing Costs-->


            <!--Running Costs-->
            <div class="section-title">
                <h4>{{{words.running_costs}}}</h4>
            </div>

            <table id="tbl_statistics">
                <tr>
                    <td><span>{{{words.fuel}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_fuel value-field">{{{statsData.costs_perMonth_items_fuel}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>50% {{{words.maintenance}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_maintenance value-field">{{{statsData.costs_perMonth_items_maintenance}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>{{{words.rep_improv}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_repairsImprovements value-field">{{{statsData.costs_perMonth_items_repairsImprovements}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>{{{words.parking}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_parking value-field">{{{statsData.costs_perMonth_items_parking}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>{{{words.tolls}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_tolls value-field">{{{statsData.costs_perMonth_items_tolls}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>{{{words.fines}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_fines value-field">{{{statsData.costs_perMonth_items_fines}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>{{{words.washing}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_washing value-field">{{{statsData.costs_perMonth_items_washing}}}</span>
                    </td>
                </tr>
                <tr class="tr-result">
                    <td><span>{{{words.total_variable}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_running_costs value-field">{{{statsData.costs_perMonth_items_runningCosts}}}</span>
                    </td>
                </tr>

            </table><!--End Running Costs-->


            <!--Total-->
            <div class="section-title total">
                <h4>{{{words.word_total_cap}}}</h4>
            </div>

            <table id="tbl_statistics" class="stats_total">
                <tr class="main_total">
                    <td><span>{{{words.word_total_cap}}}</span></td>
                    <td>
                        <span>{{{words.curr_symbol}}} </span>
                        <span class="text_total_overal value-field">{{{statsData.costs_perMonth_total}}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>{{{words.run_cp_dist}}}</span>
                    </td>
                    <td>
                        <span>{{{words.curr_symbol}}}</span>
                        <span class="text_running_costs_dist value-field">{{{statsData.costs_perUnitDistance_runningCosts}}}</span>
                        <span>/{{{words.std_dist}}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>{{{words.total_cp_dist}}}</span>
                    </td>
                    <td>
                        <span>{{{words.curr_symbol}}}</span>
                        <span class="text_total_costs_p_unit value-field">{{{statsData.costs_perUnitDistance_totalCosts}}}</span>
                        <span>/{{{words.std_dist}}}</span>
                    </td>
                </tr>
                <tr>
                    <td><span>{{{words.kinetic_speed}}}</span></td>
                    <td><span class="text_kinetic_speed value-field">{{{statsData.speeds_averageKineticSpeed}}}</span>
                        <span>{{{words.std_dist}}}/h</span></td>
                </tr>
                <tr>
                    <td>
                        <span>
                            <a target="_blank" 
                               href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
                                {{{words.virtual_speed}}}
                            </a>
                        </span>
                    </td>
                    <td>
                        <span class="text_virtual_speed value-field">{{{statsData.speeds_averageConsumerSpeed}}}</span>
                        <span>{{{words.std_dist}}}/h</span>
                    </td>
                </tr>
                <tr>
                    <td id="table-td-bottom-left"><span>{{{words.total_costs_per_year}}}</span></td>
                    <td id="table-td-bottom-right">
                        <span>{{{words.curr_symbol}}}</span>
                        <span class="text_total_costs_year value-field">{{{statsData.costs_totalPerYear}}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
