<!DOCTYPE html>
<html lang="en">

<head>

    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <link href="http://{{{domain}}}/favicon.png" rel="shortcut icon" type="image/png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,700" type="text/css" media="screen">

    <title>{{{words.statistic_title}}}</title>

    <style>

        body {
            font-family: "Nunito", Helvetica, Arial, sans-serif;

            {{#if isHtmlPage}}
            font-size: 20px;
            margin: 20px;
            {{/if}}

            {{#if isJpgImage}}
            font-size: 20px;
            background: white;
            margin: 0;
            {{/if}}
        }

        .statistics {
            {{#if isJpgImage}}
            width: 700px;
            {{/if}}

            {{#if isHtmlPage}}
            max-width: 1000px;
            {{/if}}

            border-radius: 3px;
            border-collapse: separate;
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
            -moz-box-shadow:0px 0px 15px 0px rgba(0,0,0,0.05);
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
            background: white;
            padding: 20px 0;
        }
        
        {{#if isHtmlPage}}
        .header {display: flex; justify-content: space-between;}        
        {{/if}}          

        .statistics .main-title {
            margin: 0 15px; 
            {{#if isJpgImage}}
            text-align: center;
            {{/if}} 
        }
        
        {{#if isHtmlPage}}
        .divSelect {}
        .downloadButton {
            background-color: #2c49b9; 
            width: 18px;
            border-radius: 5px; 
            -webkit-border-radius: 5px;
            padding: 5px 10px !important;
            margin: 15px 15px 0 0;
            float: right;
            width: 18px;
            height: 22px;
        }
        select {
            font-family: 'Nunito', Arial,sans-serif;
            text-transform: capitalize;
            margin: 0;
            background: transparent;
            margin: 0 15px 0 0;
            padding: 5px 24px 0 0;
            font-size: 22px;
            border: 0;
            border-bottom: 1px solid black;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0;
            background: url('../img/dd_arrow.png') 100% 16px no-repeat transparent;
        }        
        {{/if}}        
                
        .statistics .main-title h2 {margin: 0}
        .statistics .main-title > span {color: #42444a; font-size: 16px;}
        .statistics .section-title {margin: 10px 0 0}
        .statistics .section-title h4{margin: 10px 0; font-size: 18px; font-weight: 700}
        .statistics .section-title h4:before{content: " -"; background-color: #2c49b9; color: #2c49b9; margin-right: 10px;}
        .statistics .total h4:before{background-color: #efa00b; color: #efa00b;}
        .stats_total tr:last-child {background: #fdf5e6!important}

        .tbl_statistics {width: 90%; padding: 0px 14px; margin: auto; border-spacing:0;}
        .tbl_statistics .tr-result td {font-weight: bold; color: #000;}
        .tbl_statistics .tr-sub-title td {background: #ffec8b; color: #000; font-weight: bold; text-align: center;}
        .tbl_statistics .main_total {font-weight: bold; color: #000; background: #fdf5e6;}
        .tbl_statistics td:nth-child(2) {text-align: right; min-width: 100px;}
        .tbl_statistics tr:nth-child(1n+21) td{font-size:90%;}
        .tbl_statistics tr:last-child td{font-weight: bold; color: #000}

        .statistics .footnote {margin: 15px 20px 0 20px; font-style: italic;}

    </style>   

</head>
<body>
    <div class="statistics">
        <div class="header">
            <div class="main-title">
                <h2>{{{words.statistic_title}}} <span class="stat_title">{{{countryName}}}</span></h2>
                <span>{{{words.average_costs_per_type}}}</span>
            </div>
            
            {{#if isHtmlPage}}
            <div class="divSelect">
                <div>
                    <select id="countrySelectStats">
                        {{~#each availableCountries~}}
                        <option value="{{@key}}">
                        {{~this~}}
                        </option>
                        {{/each}}
                    </select>
                </div>                
                <div class="downloadButton">
                    <svg xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink"
                     width="15px" height="16px">
                        <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                     d="M13.957,15.994 L1.043,15.994 C0.466,15.994 0.000,15.514 0.000,14.921 L0.000,10.195 L2.082,10.195 L2.082,13.848 L12.918,13.848 L12.918,10.195 L15.000,10.195 L15.000,14.921 C15.000,15.514 14.534,15.994 13.957,15.994 ZM7.808,9.864 C7.553,10.128 7.309,9.833 7.309,9.833 L4.328,6.119 C4.328,6.119 3.875,5.677 4.366,5.677 C4.858,5.677 6.046,5.677 6.046,5.677 C6.046,5.677 6.046,5.380 6.046,4.922 C6.046,3.615 6.046,1.238 6.046,0.269 C6.046,0.269 5.980,0.006 6.364,0.006 C6.752,0.006 8.451,0.006 8.729,0.006 C9.007,0.006 9.000,0.228 9.000,0.228 C9.000,1.168 9.000,3.627 9.000,4.890 C9.000,5.300 9.000,5.565 9.000,5.565 C9.000,5.565 9.953,5.565 10.551,5.565 C11.148,5.565 10.698,6.028 10.698,6.028 C10.698,6.028 8.161,9.500 7.808,9.864 Z"/>
                    </svg>                
                </div>
            </div>
            {{/if}}
            
        </div>

        <!--Standing Costs-->
        <div class="section-title">
            <h4>{{{words.fixed_costs}}}</h4>
        </div>

        <table class="tbl_statistics">

            <tr>
                <td><span>{{{words.depreciation}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_depreciation value-field">{{{toFixed statsData.costs_perMonth_items_depreciation 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.insurance}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_insurance value-field">{{{toFixed statsData.costs_perMonth_items_insurance 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.credit_interests}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_credit value-field">{{{toFixed statsData.costs_perMonth_items_credit 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.inspection}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_inspection value-field">{{{toFixed statsData.costs_perMonth_items_inspection 0}}}
                    </span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.road_taxes}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_roadTaxes value-field">{{{toFixed statsData.costs_perMonth_items_roadTaxes 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>50% {{{words.maintenance}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_maintenance value-field">{{{toFixed statsData.costs_perMonth_items_maintenance 0}}}</span>
                </td>
            </tr>
            <tr class="tr-result">
                <td><span>{{{words.total_fixed}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_standing_costs value-field">{{{toFixed statsData.costs_perMonth_standingCosts 0}}}</span>
                </td>
            </tr>
        </table>
        <!--End Standing Costs-->


        <!--Running Costs-->
        <div class="section-title">
            <h4>{{{words.running_costs}}}</h4>
        </div>

        <table class="tbl_statistics">
            <tr>
                <td><span>{{{words.fuel}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_fuel value-field">{{{toFixed statsData.costs_perMonth_items_fuel 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>50% {{{words.maintenance}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_maintenance value-field">{{{toFixed statsData.costs_perMonth_items_maintenance 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.rep_improv}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_repairsImprovements value-field">{{{toFixed statsData.costs_perMonth_items_repairsImprovements 0}}}
                    </span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.parking}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_parking value-field">{{{toFixed statsData.costs_perMonth_items_parking 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.tolls}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_tolls value-field">{{{toFixed statsData.costs_perMonth_items_tolls 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.fines}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_fines value-field">{{{toFixed statsData.costs_perMonth_items_fines 0}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.washing}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_washing value-field">{{{toFixed statsData.costs_perMonth_items_washing 0}}}</span>
                </td>
            </tr>
            <tr class="tr-result">
                <td><span>{{{words.total_variable}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_running_costs value-field">{{{toFixed statsData.costs_perMonth_runningCosts 0}}}</span>
                </td>
            </tr>

        </table><!--End Running Costs-->


        <!--Total-->
        <div class="section-title total">
            <h4>{{{words.word_total_cap}}}</h4>
        </div>

        <table class="tbl_statistics stats_total">
            <tr class="main_total">
                <td><span>{{{words.word_total_cap}}}</span></td>
                <td>
                    <span>{{{words.curr_symbol}}} </span>
                    <span class="text_total_overal value-field">{{{toFixed statsData.costs_perMonth_total 0}}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>{{{words.run_cp_dist}}}</span>
                </td>
                <td>
                    <span>{{{words.curr_symbol}}}</span>
                    <span class="text_running_costs_dist value-field">{{{toFixed statsData.costs_perUnitDistance_runningCosts 2}}}</span>
                    <span>/{{{words.std_dist}}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>{{{words.total_cp_dist}}}</span>
                </td>
                <td>
                    <span>{{{words.curr_symbol}}}</span>
                    <span class="text_total_costs_p_unit value-field">{{{toFixed statsData.costs_perUnitDistance_totalCosts 2}}}</span>
                    <span>/{{{words.std_dist}}}</span>
                </td>
            </tr>
            <tr>
                <td><span>{{{words.kinetic_speed}}}</span></td>
                <td><span class="text_kinetic_speed value-field">{{{toFixed statsData.speeds_averageKineticSpeed 0}}}</span>
                    <span>{{{words.std_dist}}}/h</span></td>
            </tr>
            <tr>
                <td>
                    <span>{{{words.virtual_speed}}}</span>
                    {{#if isHtmlPage}}
                        <a target="_blank"
                               href="http://en.wikipedia.org/wiki/Effects_of_the_car_on_societies#Kinetic_speed_vs._consumer_speed">
                        *
                        </a>
                    {{/if}}
                </td>
                <td>
                    <span class="text_virtual_speed value-field">{{{toFixed statsData.speeds_averageConsumerSpeed 0}}}</span>
                    <span>{{{words.std_dist}}}/h</span>
                </td>
            </tr>
            <tr>
                <td id="table-td-bottom-left"><span>{{{words.total_costs_per_year}}}</span></td>
                <td id="table-td-bottom-right">
                    <span>{{{words.curr_symbol}}}</span>
                    <span class="text_total_costs_year value-field">{{{toFixed statsData.costs_totalPerYear 0}}}</span>
                </td>
            </tr>
        </table>

        <div class="footnote">
            Based on the inputs of {{{statsData.validUsers}}} validated users, who filled the Car Costs Calculator at
                <a target="_blank" href="http://{{{domain}}}/{{{statsData.countryCode}}}">{{{domain}}}/{{{statsData.countryCode}}}</a>
        </div>
    </div>
    
    
    {{#if isHtmlPage}}
    <data
    id =                    "global_variables" 
    value =                 "global_variables" 
    data-country_code =      "{{{ countryCode }}}"/>
    
    
    <script src="{{fileNames.client.jquery.cdn}}"></script>
    <script>        
        
        $( document ).ready(function() {            
            
            var globalVariables = document.getElementById('global_variables');
            var countryCode = globalVariables.dataset.country_code;
            console.log("Loaded stats page for: " + countryCode);
            
            $("#countrySelectStats").val(countryCode);
            
            $('#countrySelectStats').on('change', function() {
                //forward to the respective page, from ..../AA.htm to ..../BB.htm
                window.location.href = window.location.href.substring(0, window.location.href.lastIndexOf("/")) + 
                    "/" + this.value + ".htm";
            });
            
            $(".downloadButton").on("click", function(e){
                e.preventDefault();  //stop the browser from following
                //forward to the respective page, from ..../AA.htm to ..../AA.jpg
                window.location.href = window.location.href.substring(0, window.location.href.lastIndexOf(".")) + ".jpg";                
            });
        });
        
    </script>
    {{/if}}    
    
</body>
</html>
