<meta charset="UTF-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >

<meta name="author" content="Autocosts Org" />
<meta name="viewport" content="width=device-width" />
<meta name="robots" content="{{#if clientData.isThisATest}}noindex, nofollow{{else}}index, follow{{/if}}" />

<meta property="og:type" content="website" />
<meta property="og:url" content="{{{clientData.fullURL}}}" />
<meta property="og:site_name" content="autocosts.info" />
<meta property="og:image" content="{{{clientData.basicURL}}}/img/logo/logo.svg" /> 
<meta property="og:locale" content="{{{ getLocale }}}" />

<!-- /XX type pages -->
{{#if isGetCC}}
    <title>{{{ words.web_page_adapted_title }}}</title>
   
    <meta property="og:title" content="{{{ words.web_page_adapted_title }}}" />
    <meta property="og:description" content="{{{ words.meta_description }}}" />    
   
    <meta name="description" content="{{{ words.meta_description }}}" />
    <meta name="keywords" content="{{{ words.meta_keywords }}}" />        

    <!-- Banner to link to the APP, uncomment when APP is also upgraded to new UI
    <meta name="google-play-app" content="app-id=info.autocosts">
    <link href="/css/smart-app-banner.css" rel="stylesheet" media="screen" />
    -->

<!-- /stats page -->
{{else if isStats}}
    <title>World statistics of the Car Costs</title>  
    
    <meta property="og:title" content="World statistics of Car Costs" />
    <meta property="og:description" content="World statistics of the Car Costs for different countries" />
    
    <link rel="stylesheet" href="/css/stats/main.css" type="text/css">

<!-- /list page -->
{{else if isList}}
    <title>List of Countries for the Car Costs Calculator</title>  
    
    <meta property="og:title" content="List of Countries for the Car Costs Calculator" />
    <meta property="og:description" content="List of Countries for the Car Costs Calculator" />
    
    <link rel="stylesheet" href="/css/list/main.css" type="text/css">
{{/if}}

<!-- see https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content -->    
<link rel="preload" href="/css/fonts/XRXV3I6Li01BKofIO-aBXso.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/css/fonts/XRXV3I6Li01BKofINeaB.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="/css/fonts/XRXW3I6Li01BKofAjsOUYevI.woff2" as="font" type="font/woff2" crossorigin="anonymous">

<link rel="stylesheet" href="/css/mergedInit.css" media="screen" />

<!--temporary debug lines
<link rel="stylesheet" href="css/style.css" media="screen" />
<link rel="stylesheet" href="css/responsive.css" media="screen" />
<link rel="stylesheet" href="css/fonts.css" media="screen" />
end of temporary debug lines-->

<link href="favicon.png" rel="shortcut icon" type="image/png" />
<link href="favicon32x32.png" sizes="32x32" rel="shortcut icon" type="image/png" />
<link href="favicon72x72.png" sizes="72x72" rel="shortcut icon" type="image/png" />
<link href="favicon114x114.png" sizes="114x114" rel="shortcut icon" type="image/png" />
<link href="favicon144x144.png" sizes="144x144" rel="shortcut icon" type="image/png" />
<link href="favicon192x192.png" sizes="192x192" rel="shortcut icon" type="image/png" />

<script type="application/ld+json">{{> structuredData }}</script>

