<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            List of Domains for the Automobile Costs Calculator
        </title>
        <style>
            body {
                font-family: Arial;
            }
            table {
                border-collapse: collapse;
                margin: 0 auto;
            }
            th, td {
                border: 1px solid grey;
                padding: 4px;
            }
            .alignCenter {
                text-align:center;
            }
            .width100 {
              width:100%;
            }
        </style>
    </head>

<body>
<div class="alignCenter">
    List of Domains for the Automobile Costs Calculator
</div>

<div class="width100">
    <table>
        <tr>
            <th scope="col">
                #
            </th>
            <th scope="col">
                Domain
            </th>
            <th scope="col">
                Countries
            </th>
            <th scope="col">
                CC
            </th>
        </tr>
    {{#each domains as |entry domain|}}
        {{#if singular}}
        <tr>
            <td>1</td>
            <td>{{domain}}</td>
            {{#each countries as |value CC|}}
            <td><a href="{{value.urlHref}}">{{value.country}}</a></td>
            <td>{{CC}}</td>
            {{/each}}
        </tr>
        {{else}}
        {{#each countries as |value CC|}}
        <tr>
            {{#if value.first}}
            <td rowspan="{{../nbrItems}}">{{../nbrItems}}</td>
            <td rowspan="{{../nbrItems}}">{{domain}}</td>
            {{/if}}
            <td><a href="{{value.urlHref}}">{{value.country}}</a></td>
            <td>{{CC}}</td>
        </tr>
        {{/each}}
        {{/if}}
    {{/each}}

    </table>
</div>
<br><br>
</body>
</html>
