<!DOCTYPE html>
<html lang="{{{get2letterLangCode clientData.languageCode}}}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0' >
        
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Auto Costs" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="http://" />
    <meta property="og:site_name" content="Auto Costs" />
    <meta property="og:image" content="" />
    <meta property="og:image:secure_url" content="" />
    <meta property="og:locale" content="en_US" />
    
    <title>{{{words.web_page_title}}}</title>    
    
    <link href="css/fonts/fonts.css" rel="stylesheet" />    
    <link href="favicon.png" rel="shortcut icon" type="image/png" />
    <link href="css/style.css" rel="stylesheet" media="screen" />  
</head>

<body>
    
    <main>
        <div class="sidebars">
            {{> sidebars }}
        </div>

        <header>
            <a href="#" class="btn btn-left-sidebar" data-action="open" data-side="left"></a>
            {{#if serverData.settings.switches.dataBase}}
                <a href="#" class="btn btn-right-sidebar" data-action="open" data-side="right"></a>
            {{/if}}
            <h1 class="logo"><a href="/" title="Home"><img src="img/logo/logo.svg" alt="Auto Costs"/></a></h1>
        </header>

        <section id="hero">
            <div class="container">
                <h1>{{{words.web_page_title}}}</h1>

                <h2>
                    {{#if serverData.settings.switches.dataBase}}
                        The average total cost in
                    {{/if}} 
                    <select name="country_select" id="country_select">
                        {{~#each serverData.availableCountries~}}
                        <option value="{{@key}}"{{{isSelected ../CC @key}}}>
                            {{~this~}}
                        </option>
                        {{/each}}
                    </select>
                    {{#if serverData.settings.switches.dataBase}}
                        is <b>{{{words.curr_symbol}}}{{{getStatsItem serverData CC "total_costs_year"}}}</b> 
                        {{{word_per}}} {{{year}}}.<br />
                        Find the true cost of owning a car in your country.
                    {{/if}}
                </h2>

                <input type="button" id="calculateButton" style="cursor: pointer;" 
                       class="button big btn-blue" value="Calculate car cost" />
            </div>    
        </section>

        {{#with words}}
        <section id="form">
            <form name="costs_form" action="javascript:void(0);">
            {{> form }}
            </form>
        </section>
        
        <section id="results">
            {{> results }}
        </section>
        {{/with}}

        <footer>
            <div class="animation"></div>
        </footer>
    </main>
        
    <!-- Data sent to JS code on browser -->
    {{> globalData }}
    
    <script src="client/Globals.js"></script>    
    
</body>
</html>

