<!DOCTYPE html>
<html lang="{{{get2letterLangCode clientData.languageCode}}}">
<head>
    <meta charset="UTF-8">
    {{#with words}}
    <title>{{{ adaptTitle web_page_title}}}</title>

    <!--gets the first sentence of variable $INITIAL_TEXT-->
    <meta name="description" content="{{{ metaDescription ./initial_text }}}">
    <meta name="keywords" content="{{{ getKeywords ./web_page_title ./fixed_costs ./running_costs }}}">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Autocosts Org">
    <meta name="robots" content="{{#if clientData.isThisATest}}noindex, nofollow{{else}}index, follow{{/if}}">
    {{/with}}           
    
    <script type="application/ld+json">{{> structuredData }}</script>
    <style>{{> merged1.css }}</style>    
    
</head>
    
<body>

    {{#with words}}
    <div id="main_div">

        <div id="banner_top">
            <div id="left_top_div">&nbsp;</div>
            <!--#####################-->
            <div id="header_main_title">
                <div id="main_title">
                    <header>
                        {{{adaptTitle main_title}}}
                    </header>
                </div>
            </div>
            <!--## Select country box ##-->
            <div id="country_box">
                <div id="country_box_inline">
                    <div id="banner_flag_div">
                        <div id="banner_flag" class="{{bannerFlag CC}}"></div>
                    </div>
                    <div id="country_select_div">
                        <select name="country_select" id="country_select">
                            {{~#each ../serverData.availableCountries~}}
                            <option value="{{@key}}"{{{isSelected ../CC @key}}}>
                                {{~this~}}
                            </option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="container">
            <div id="description">
                {{{initial_text}}}
            </div>

            <div id="container_table">

                <!-- div3 = LEFT layout column-->
                <div id="div3_td">
                    <div id="div3">
                        <div id="div3a" class="roundCornerSlight">

                            <div>
                                <img alt="Picture" src="images/logos/autocosts_dollar.png">
                            </div>

                            <br>

                            <a class="display_block" target="_blank" 
                                href="https://play.google.com/store/apps/details?id=info.autocosts">
                                <div id="div31" class="roundCorner">
                                    <img alt="Android logo" src="images/android/playstore.svg">
                                </div>
                            </a>

                            <div id="div32" class="roundCorner">
                                <!-- Contact block -->
                                <div id="contact_div">
                                    <div>
                                        <a class="npm_link" href="https://www.npmjs.com/package/autocosts">@npm</a>
                                    </div>                                    
                                    <div>
                                        <a class="github_link" href="https://github.com/jfoclpf/autocosts">@github</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- div2 = CENTRE layout column-->
                <div id="div2_td">
                    <!--#####################################  CALCULATOR #####################################-->
                    <div id="div2">
                        <form class="roundCorner" id="main_form" enctype="application/x-www-form-urlencoded"
                              action="javascript:void(0);" name="costs_form">
                            <div id="input_div">
                                {{> form }}
                            </div>
                        </form>
                    </div>

                    <!-- ************* PRINTING divs ***********************
                    ******************************************************-->

                    <!-- ************* Main Table  Section ****************** -->
                    <div class="result_section" id="main_table_section">
                        <div class="result_div" id="main_table"></div>
                    </div>
                    <!-- ************* Monthly Costs section **************** -->
                    <div class="result_section" id="monthly_costs_section">
                        <div class="hr">
                            <hr><hr>
                        </div>
                        <div class="result_section_title" id="monthly_costs_title">
                            <b>{{{average_costs_per_type}}}</b>
                        </div>
                        <br>
                        
                        <div class="charts_container">
                            <!-- first top (pie) chart -->
                            <div class="chart" id="pieChartDiv">
                                <canvas id="pieChart"></canvas>
                            </div>
                            <br>
                            <!-- second (bars) chart -->
                            <div class="chart" id="barChartDiv">                        
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                            
                        <!-- results tables -->
                        <div class="result_div" id="monthly_costs"></div>
                    </div>
                    <!-- ************* Financial Effort section************** -->
                    <div class="result_section" id="fin_effort_section">
                        <div class="hr">
                            <hr><hr>
                        </div>
                        <div class="result_section_title" id="fin_effort_title">
                            <b>{{{financial_effort}}}</b>
                        </div>
                        <!-- third chart -->
                        <div class="charts_container">
                            <div class="chart" id="finEffChartDiv">
                                <canvas id="finEffChart"></canvas>
                            </div>
                        </div>                        
                        <!-- results table -->
                        <div class="result_div" id="fin_effort"></div>
                    </div>
                    <!-- ********* Alternative Costs to Car Costs section **************** -->
                    <div class="result_section" id="alternative_to_carcosts_section">
                        <div class="hr">
                            <hr><hr>
                        </div>
                        <div class="result_section_title" id="alternative_to_carcosts_title">
                            <b>{{{publ_tra_equiv}}}</b>
                        </div>
                        <!-- fourth chart -->
                        <div class="charts_container">
                            <div class="chart" id="alterToCarCostsChartDiv">
                                <canvas id="alterToCarCostsChart"></canvas>
                            </div>
                        </div>
                        <!-- results table -->
                        <div class="result_div" id="alternative_to_carcosts"></div>
                    </div>
                    <!-- ************* Buttons ****************** -->
                    <div class="result_section" id="exten_costs_section">
                        <div class="result_div" id="extern_costs"></div>
                    </div>
                    <!-- ************* Buttons ****************** -->
                    <div class="result_section" id="buttons_section">
                        <div class="hr">
                            <hr><hr>
                        </div>
                        <div class="result_div" id="result_buttons_div">
                            <button id="rerun_button" class="button">
                                {{{button_rerun}}}
                            </button>&nbsp;
                            <button id="print_button" class="button">
                                {{{word_print}}}
                            </button>&nbsp;
                            <button id="generate_PDF" class="button">
                                {{{word_download_pdf}}}
                            </button>
                            <div id="shareIcons"></div>
                        </div>
                    </div>
                    <!-- ************* ********* ************* -->
                    <br>
                </div>


                <!-- div1 = RIGHT layout column-->
                <div id="div1_td">
                    <div id="div1" class="roundCornerSlight">
                        <div id="div13">
                            {{> (costsTable CC) }}
                        </div>
                        <div id="br3">
                            <br>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <br>
    </div>
    {{/with}}    
    <div>
        <!-- Data that is being sent -->
        {{> globalData }}
    </div>    
    <script nonce="EDNnf03nceIOfn39fn3e9h3sdfa" src="client/Globals.js"></script> 
</body>
</html>

