<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
    <head>
        <title>
            World statistics of the Car Costs
        </title>        
        
        <link rel="stylesheet" type="text/css" href="{{{serverData.directories.client.css}}}/colors.css">
        <link rel="stylesheet" type="text/css" href="{{{serverData.directories.client.css}}}/worldStats/main.css">
        <!--temporary-->
	    <link href="{{{serverData.directories.client.css}}}/style.css" rel="stylesheet" media="screen" />
	    <link href="{{{serverData.directories.client.css}}}/responsive.css" rel="stylesheet" media="screen" />
	    <link href="{{{serverData.directories.client.css}}}/fonts.css" rel="stylesheet" media="screen" />
	    <link href="{{{serverData.directories.client.css}}}/colors.css" rel="stylesheet" media="screen" />
	    <link href="{{{serverData.directories.client.css}}}/results.css" rel="stylesheet" media="screen" />
	    <!--end of temporary-->

	    <link href="favicon.png" rel="shortcut icon" type="image/png" />
    </head>

<body id="statspage_body">

    <main>
        <div class="sidebars">
            {{> sidebars }}
        </div>

        <header>
            <a class="btn btn-left-sidebar cursor_pointer" data-action="open" data-side="left"></a>
            {{#if serverData.settings.switches.dataBase}}
                <a class="btn btn-right-sidebar cursor_pointer" data-action="open" data-side="right"></a>
            {{/if}}
            <div class="logo"><a href="/" title="Home"><img src="img/logo/logo.svg" alt="Auto Costs"/></a></div>
        </header>

        <!-- World stats car cost -->
        <section class="worldStats-car-costs">
        	<div class="section-wrapper">
			    <h1 class="">World statistics of car costs</h1>
			    <p><b>Yearly</b> average costs per country (all values in <b>Euros</b>)</p>

			    <div class="worldStats-car-costs-chart">
			        <canvas id="worldStatsChart"></canvas>			        
			    </div>

			    <!-- stats reference -->
			    <div class="stats-references">
			        <div class="standing-costs">
			            <h5>{{{fixed_costs}}}</h5>
			            <ul>
			                <li class="depreciation_color">Depreciation of the vehicle</li>
			                <li class="insurance_color">Vehicle insurance and Breakdown cover</li>
			                <li class="credit_color">Car finance</li>
			                <li class="inspection_color">Vehicle inspection (MOT test)</li>
			                <li class="roadTaxes_color">Vehicle Excise Duty (Car tax)</li>
			            </ul>
			        </div>
			        <div class="running-costs">
			            <h5>{{{running_costs}}}</h5>
			            <ul>
			                <li class="fuel_color">Fuel</li>
			                <li class="maintenance_color">Maintenance</li>
			                <li class="repairsImprovements_color">Repairs and improvements</li>
			                <li class="parking_color">Parking</li>
			                <li class="tolls_color">Tolls</li>
			                <li class="fines_color">Traffic tickets</li>
			                <li class="washing_color">Washing and cleaning</li>
			            </ul>
			        </div>

			    </div><!-- end stats reference -->

			    <!--stats data table-->
			    <table class="stats-table">

                    <thead>
                        <tr>
                            <th scope="col">Country</th>
                            <th scope="col" class="depreciation_color">Depreciation</th>
                            <th scope="col" class="insurance_color">Insurance and Breakdown cover</th>
                            <th scope="col" class="credit_color">Car finance</th>
                            <th scope="col" class="inspection_color">Inspection</th>
                            <th scope="col" class="roadTaxes_color">Car tax</th>
                            <th scope="col" class="fuel_color">Fuel</th>
                            <th scope="col" class="maintenance_color">Maintenance</th>
                            <th scope="col" class="repairsImprovements_color">Repairs and Improvs</th>
                            <th scope="col" class="parking_color">Parking</th>
                            <th scope="col" class="tolls_color">Tolls</th>
                            <th scope="col" class="fines_color">Traffic fines</th>
                            <th scope="col" class="washing_color">Washing and cleaning</th>
                            <th scope="col">Running costs per distance</th>
                            <th scope="col">Total costs per distance</th>
                            <th scope="col">Kinetic speed</th>
                            <th scope="col">Consumer speed</th>
                            <th scope="col">Total costs per year</th>
                        </tr>
                    </thead>
 
                    <tbody>
                    {{#each averageNormalizedCosts}}
                        <tr>
                            <td data-label="Country"><a href="/{{countryCode}}" target="_blank">({{{countryCode}}}) <br />{{{countryName}}}</a></td>
                            <!-- multiplies by 12 to get yearly cost -->
                            <td data-label="Depreciation">{{times12toFixed costs_perMonth_items_depreciation 0}}</td>
                            <td data-label="Insurance and Breakdown cover">{{times12toFixed costs_perMonth_items_insurance 0}}</td>
                            <td data-label="Car finance">{{times12toFixed costs_perMonth_items_credit 0}}</td>
                            <td data-label="Inspection">{{times12toFixed costs_perMonth_items_inspection 0}}</td>
                            <td data-label="Car tax">{{times12toFixed costs_perMonth_items_roadTaxes 0}}</td>
                            <td data-label="Fuel">{{times12toFixed costs_perMonth_items_fuel 0}}</td>
                            <td data-label="Maintenance">{{times12toFixed costs_perMonth_items_maintenance 0}}</td>
                            <td data-label="Repairs and Improvs">{{times12toFixed costs_perMonth_items_repairsImprovements 0}}</td>                            
                            <td data-label="Parking">{{times12toFixed costs_perMonth_items_parking 0}}</td>
                            <td data-label="Tolls">{{times12toFixed costs_perMonth_items_tolls 0}}</td>
                            <td data-label="Traffic fines">{{times12toFixed costs_perMonth_items_fines 0}}</td>
                            <td data-label="Washing and cleaning">{{times12toFixed costs_perMonth_items_washing 0}}</td>
                            <td data-label="Running costs per distance">{{toFixed costs_perUnitDistance_runningCosts 2}}/{{{getDistanceOptStrShort}}}</td>
                            <td data-label="Total costs per distance">{{toFixed costs_perUnitDistance_totalCosts 2}}/{{{getDistanceOptStrShort}}}</td>
                            <td data-label="Kinetic Speed">{{toFixed speeds_averageKineticSpeed 0}}{{{getDistanceOptStrShort}}}/h</td>
                            <td data-label="Consumer Speed">{{toFixed speeds_averageConsumerSpeed 0}}{{{getDistanceOptStrShort}}}/h</td>
                            <td  data-label="Total costs per year" class="bold">
                                <a href="{{{../serverData.directories.client.tables}}}/{{country}}.jpg" target="_blank">
                                    &euro;{{toFixed costs_totalPerYear 0}}
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                    
		        </table><!--end stats data table-->
		    </div><!--end section wrapper-->
		</section><!-- end World stats car cost -->

		<!-- Notes and sources of these averages -->
		<section class="notes-sources">
			<div class="section-wrapper">
				<h2>Notes and sources of these averages</h2>

				<ul>
					<li>These averages are based on a statistical roboust and restrictive analysis on the inputs from the users who run the automobile costs calculator at <b>autocosts.info</b></li>
					<li>It is used for these costs calculations a restrictive statistical outlier removal technique, that filters out user insertions which are irregular or away from the normal patterns of automobile costs, considering both a priori and a posteiori analysis, that is, considering beforehand some patterns which remove the user insertions (for example a very unusual high particular item cost), and considering further user insertions totally away from what several previous users had inserted before. Therefore not all user insertions are taken into account for these average calculations, and as can be seen from the following table the outlier filter is quite restrictive.</li>
					<li>It is also used Google Recaptcha V2 to avoid spam bots from eventually running the calculator and polluting the database from where these values are obtained and calculated.</li>
					<li>Euro was chosen as a comparison currency amongst the countries, since it is the currency more common within these countries. The currency conversion rates were obtained from <a href="https://openexchangerates.org/">openexchangerates.org</a></li>
					<li>The dates of the users insertions vary from 22/02/2014 till {{{dateOfCalculation}}}. <b>These averages were calculated on {{{dateOfCalculation}}}.</b></li>
					<li>The calculator is completely anonymous, as it doesn't request nor permanently store, any name, email, cookies, IP address nor any other personal information, since the outlier removal technique uses already mathematical statistical filters and a priori filtering considerations.</li>
					<li>The user insertion statistical information is based therefore on the following user survey data:</li>
				</ul>

				<!--User survey table-->
			    <table class="stats-table">
                    
                    <thead>
                        <tr>
                            <th>Country code</th>
                            <th>Country name</th>
                            <th>Currency Rate (1 EUR)</th>
                            <th>Surveyed users</th>
                            <th>Valid users</th>
                            <th>% of valid users</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                    {{#each chartTable as |value key|}}
                        <tr>
                            <td data-label="Country Code">{{key}}</td>
                            <td data-label="Country Name">{{countryName}}</td>
                            <td data-label="Currency Rate (1 EUR)">{{toFixed currencyConversionToEUR 2}} {{currency}}</td>                      
                            <td data-label="Surveyed users">{{totalUsers}}</td>
                            <td data-label="Valid users">{{validUsers}}</td>
                            <td data-label="% of valid users">{{toFixed percentageOfValidUsers 1}}</td>                    
                        </tr>
                    {{/each}}
                    </tbody>
                    
		        </table><!--Ends user survey table-->
			</div><!--Ends section wrapper-->
		</section><!--Ends notes and sources-->

    </main>
    
    <!-- Data sent to JS code on browser -->
    {{> globalData }}    

    <script src="{{{serverData.fileNames.client.jquery.uri}}}"></script>
    <script src="{{{serverData.fileNames.client.chartjs.uri}}}"></script>
    <script src="{{{serverData.settings.cdn.url}}}{{{serverData.directories.client.client}}}/chart/worldStatsChart.js"></script>

    <script src="{{{serverData.settings.cdn.url}}}{{{serverData.directories.client.client}}}/jquery/jquery.min.js"></script>
    <script src="{{{serverData.settings.cdn.url}}}{{{serverData.directories.client.client}}}/main.js"></script>

</body>
</html>            