<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
    <head>
        <title>
            World statistics of the Car Costs
        </title>        
        
        <link rel="stylesheet" type="text/css" href="{{{serverData.directories.client.css}}}/colors.css">
        <link rel="stylesheet" type="text/css" href="{{{serverData.directories.client.css}}}/worldStats/main.css">
    </head>

<body id="statspage_body">

    <h1 style="text-align:center">
        World statistics of Car Costs
    </h1>

    <h3>
        Yearly average costs per country (all values in Euros)    
    </h3>

    <div class="chart" id="overallStatsChartDiv">
        <canvas id="overallStatsChart"></canvas>
    </div>    
    <br>
    
    <h3>
        Yearly average costs per country (all values in Euros)    
    </h3>   
    <br>
    
    <div class="center">
        <table class="hoverTable">
            <tr>                
                <th class="right2px">Country</th>
                
                <th class="depreciation_color">
                    <span class="white">{{{words.depreciation_st}}}</span>
                </th>
                <th class="insurance_color">
                    <span class="white">{{{words.insurance_short}}}</span>
                </th>
                <th class="credit_color">
                    <span class="white">{{{words.credit}}}</span>
                </th>
                <th class="inspection_color">
                    <span class="white">{{{words.inspection_short}}}</span>
                </th>
                <th class="roadTaxes_color">
                    <span class="white">{{{words.road_taxes_short}}}</span>
                </th>
                <th class="maintenance_color">
                    <span class="white">{{{words.maintenance}}}</span>
                </th>
                <th class="repairsImprovements_color">
                    <span class="white">{{{words.rep_improv}}}</span>
                </th>
                <th class="fuel_color">
                    <span class="white">{{{words.fuel}}}</span>
                </th>
                <th class="parking_color">
                    <span class="white">{{{words.parking}}}</span>
                </th>
                <th class="tolls_color">
                    <span class="white">{{{words.tolls}}}</span>
                </th>
                <th class="fines_color">
                    <span class="white">{{{words.fines}}}</span>
                </th>
                <th class="washing_color right2px">
                    <span class="white">{{{words.washing}}}</span>
                </th>
                
                <th>
                    Running costs per distance
                </th>
                <th class="right2px">
                    Total costs per distance
                </th>
                <th>
                    {{{words.kinetic_speed}}}
                </th>
                <th class="right2px">
                    {{{words.virtual_speed}}}
                </th>
                <th>
                    Total costs per year
                </th>
                
            </tr>
            {{#each averageNormalizedCosts as |value key|}}
                <tr>
                    <td class="center country right2px">
                        <a href="/{{value.country}}" target="_blank">
                            {{value.countryName}} ({{value.country}})
                        </a>
                    </td>
                    <td class="tdRight">{{toFixed value.depreciation 0}}</td>
                    <td class="tdRight">{{toFixed value.insurance 0}}</td>
                    <td class="tdRight">{{toFixed value.credit 0}}</td>
                    <td class="tdRight">{{toFixed value.inspection 0}}</td>
                    <td class="tdRight">{{toFixed value.car_tax 0}}</td>
                    <td class="tdRight">{{toFixed value.maintenance 0}}</td>
                    <td class="tdRight">{{toFixed value.repairs_improv 0}}</td>
                    <td class="tdRight">{{toFixed value.fuel 0}}</td>
                    <td class="tdRight">{{toFixed value.parking 0}}</td>
                    <td class="tdRight">{{toFixed value.tolls 0}}</td>
                    <td class="tdRight">{{toFixed value.fines 0}}</td>
                    <td class="tdRight right2px">{{toFixed value.washing 0}}</td>
                    <td class="tdRight">
                        {{toFixed value.running_costs_dist 2}}/{{{getDistanceOptStrShort}}}
                    </td>
                    <td class="tdRight right2px">
                        {{toFixed value.total_costs_dist 2}}/{{{getDistanceOptStrShort}}}
                    </td>
                    <td class="tdRight">
                        {{toFixed value.kinetic_speed 0}}{{{getDistanceOptStrShort}}}/h
                    </td>
                    <td class="tdRight right2px">
                        {{toFixed value.virtual_speed 0}}{{{getDistanceOptStrShort}}}/h
                    </td>
                    <td class="tdRight">
                        <a href="{{{../serverData.directories.client.tables}}}/{{value.country}}.jpg" target="_blank">
                            &euro;{{toFixed value.total_costs_year 0}}
                        </a>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>    
        
    <br>
    <br>
    
    <hr>
    
    <br>
    <div>
    <b>Notes and sources of these averages:</b> 
        <li>
        These averages are based on a statistical roboust and restrictive analysis on the inputs from the users who run the automobile costs calculator at autocosts.info;
        </li>
        <li>It is used for these costs calculations a restrictive statistical outlier removal technique, that filters out user insertions which are irregular or away from the normal patterns of automobile costs, considering both <i>a priori</i> and <i>a posteiori</i> analysis, that is, considering beforehand some patterns which remove the user insertions (for example a very unusual high particular item cost), and considering further user insertions totally away from what several previous users had inserted before. Therefore not all user insertions are taken into account for these average calculations, and as can be seen from the following table the outlier filter is quite restrictive;</li>
        <li>It is also used Google Recaptcha V2 to avoid spam bots from eventually running the calculator and polluting the database from where these values are obtained and calculated;</li>
        <li> Euro was chosen as a comparison currency amongst the countries, since it is the currency more common within these countries. The currency conversion rates were obtained from openexchangerates.org;
        </li>
        <li>
            The dates of the users insertions vary from 22-02-2014 till {{{dateOfCalculation}}}. These averages were calculated on {{{dateOfCalculation}}};
        </li>
        <li>
            The calculator is completely anonymous, as it doesn't request nor permanently store, any name, email, cookies, IP address nor any other personal information, since the outlier removal technique uses already mathematical statistical filters and <i>a priori</i> filtering considerations;
        </li>
        <li> The user insertion statistical information is based therefore on the following user survey data:
        </li>
    </div>
    <br>    
    <div class="center">
        <table>
            <tr>
                <th>Country Code</th>
                <th>Country Name</th>
                <th>Currency Rate<br>(1 EUR)</th>
                <th>Surveyed users</th>
                <th>Valid users</th>
                <th>% of valid users</th>
            </tr>
            {{#each chartTable as |value key|}}
                <tr>
                    <td class="center">{{key}}</td>
                    <td class="tdRight">{{value.country_name}}</td>
                    <td class="tdRight">{{toFixed value.CurrToEUR 2}} {{value.Currency}}</td>                      
                    <td class="tdRight">{{value.total_users}}</td>
                    <td class="tdRight">{{value.valid_users}}</td>
                    <td class="tdRight">{{toFixed value.percentage_valid 1}}</td>                    
                </tr>
            {{/each}}
        </table>
    </div>

    <div>
        <!-- Data that is being sent -->
        {{> globalData }}        
        <data
            id =    "chart" 
            value = "chart" 
            data-stats_data = "{{{ jsonObj statsData }}}"
            data-stats_labels = "{{{ jsonObj statsLabels }}}">
        </data>
    </div>
    <br>
    <br>

    <script src="{{{serverData.fileNames.client.jquery.uri}}}"></script>
    <script src="{{{serverData.fileNames.client.chartjs.uri}}}"></script>
    <script src="{{{serverData.settings.cdn.url}}}{{{serverData.directories.client.client}}}/chart/worldStatsChart.js"></script>

</body>
</html>            