<div class="container">
    <div class="steps">
        <ul>
          <li class="list active number one"> <span>{{{fixed_costs}}}</span> 
            <ul>
                <li class="active done"><span>{{{depreciation}}}</span></li>
                <li class="active"><span>{{{insurance}}}</span></li>
                <li><span>{{{credit}}}</span></li>
                <li><span>{{{inspection}}}</span></li>
                <li><span>{{{road_taxes}}}</span></li>
            </ul>
          </li>
          <li class="list number two"><span>{{{running_costs}}}</span>
            <ul>
                <li><span>{{{fuel}}}</span></li>
                <li><span>{{{maintenance}}}</span></li>
                <li><span>{{{rep_improv}}}</span></li>
                <li><span>{{{parking}}}</span></li>
                <li><span>{{{tolls}}}</span></li>
                <li><span>{{{fines}}}</span></li>
                <li><span>{{{washing}}}</span></li>
            </ul>
          </li>
          <li class="list number three"><span>{{{extra_data1}}}</span>
            <ul>
                <li><span>{{{extra_data_public_transp}}}</span></li>
                <li><span>{{{extra_data_income}}}</span></li>
                <li><span>{{{extra_data_working_time}}}</span></li>
                <li><span>{{{distance}}}Distance</span></li>
                <li><span>{{{extra_data_time_spent_in_driving}}}</span></li>
            </ul>
          </li>
          
        </ul>
    </div>

            
    <!--  Start form -->
    <div class="form_part">
        <!--************************************************************************-->
        <!--************************************************************************-->
        <!--            Start Form Part 1  -   Standing Costs                       -->
        <!--************************************************************************-->
        <div class="form_part_head_title">
            <h2 class="lang-fixed_costs_header_1"> 
               1. {{{fixed_costs}}}
            </h2>
            <p class="lang-fixed_costs_header_2">
                {{{fixed_costs_header_2}}}
             </p>
        </div>
        
        <!--************************** DEPRECIATION **************************-->
        <div class="field_container">
            <div id="depreciation_input">
                <label>
                    {{{aq_date}}}
                </label>
                <input type="number" data-placeholder="MM" required aria-required="true" step="1"
                       id="acquisitionMonth" name="acquisitionMonth" class="input_40 input_month" min="1" max="12"/>
                
                <input type="number" data-placeholder="AAAA" required aria-required="true" step="1" 
                       id="acquisitionYear" name="acquisitionYear" class="input_80 input_year" min="1910"/>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>

        <div class="field_container">
            <div id="">
                <label>
                    {{{com_value}}}
                </label>
                <div class="input_value">
                    <input type="number" min="0" step="Any" name="commercialValueAtAcquisition"
                           id="commercialValueAtAcquisition" class="currencyInput unit_left">
                    <span class="unit">
                        {{{curr_symbol}}}
                    </span>
                </div>


                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>

        <div class="field_container">
            <div id="">
                <label>
                    {{{com_value_today}}}
                </label>
                <div class="input_value">
                    <input type="number" min="0" step="Any" name="commercialValueAtNow"
                           id="commercialValueAtNow" class="currencyInput unit_left" />
                    <span class="unit">
                        {{{curr_symbol}}}
                    </span>
                </div>


                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** INSURANCE **************************-->
        <div class="field_container">
            <div id="">
                <label>
                    {{{insurance}}}
                </label>
                <div class="radio_tabs">
                    <div class="radio_tab_container">
                        <input type="radio" name="insurancePaymentPeriod" value="mensal" />
                        <label>
                            {{{monthly}}}
                        </label>
                     </div>

                    <div class="radio_tab_container">
                        <input type="radio" name="insurancePaymentPeriod" value="trimestral" />
                        <label>
                            {{{trimesterly}}}
                        </label>
                    </div>
                    <div class="radio_tab_container">
                        <input type="radio" name="insurancePaymentPeriod" value="semestral" />
                        <label>
                            {{{semesterly}}}
                        </label>
                    </div>

                    <div class="radio_tab_container">
                        <input type="radio" name="insurancePaymentPeriod" value="anual" />
                        <label>
                            {{{yearly}}}
                        </label>
                    </div>
                </div>

                <div class="input_value">
                    <input type="number" min="0" step="Any" 
                           id="insuranceValue" class="currencyInput unit_left" name="insuranceValue" />
                    <span class="unit">
                        {{{curr_symbol}}}
                    </span>
                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>

        <!--************************** CREDIT **************************-->
        <div class="field_container">
            <div id="">
                <label class="float_left">
                    {{{credit}}}
                </label>
                <div class="radio_tabs small_tabs">
                    <div class="radio_tab_container">
                        <input type="radio" name="AutoCreditRadioBtn" value="true" 
                               id="cred_auto_true" class="" onclick="onclick_div_show('#sim_credDiv',true);" />
                        <label>
                            {{{yes}}}
                        </label>
                     </div>

                    <div class="radio_tab_container">
                        <input type="radio" name="AutoCreditRadioBtn" value="false" 
                               id="cred_auto_false" class="" onclick="onclick_div_show('#sim_credDiv',false);" checked>
                        <label>
                            {{{no}}}
                        </label>
                    </div>
                </div>

                <div id="sim_credDiv">
                    <label>
                        {{{credit_loan}}}
                    </label>
                    <div class="input_value small_input">
                         <input type="number" min="0" step="Any" name="borrowedAmount"
                                id="borrowedAmount" class="currencyInput unit_left" />
                        <span class="unit">
                            {{{curr_symbol}}}
                        </span>
                    </div>

                    <label>
                        {{{credit_period}}}
                    </label>
                    <div class="input_value small_input">
                         <input type="number" min="1" step="1" name="numberInstallments" 
                                id="numberInstallments" class="no_padding_left input_200" />
                    </div>

                    <label>
                        {{{credit_average_value}}}
                    </label>
                    <div class="input_value small_input">
                         <input type="number" min="0" step="Any" name="amountInstallment"
                                id="amountInstallment" class="currencyInput unit_left" />
                        <span class="unit">
                            {{{curr_symbol}}}
                        </span>
                    </div>

                    <label>
                        {{{credit_residual_value}}}
                    </label>
                    <div class="input_value small_input ">
                        <input type="number" min="0" step="Any" name="residualValue"
                               id="residualValue" class="currencyInput unit_left" />
                        <span class="unit">
                            {{{curr_symbol}}}
                        </span>
                    </div>
                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** INSPECTION **************************-->
        <div class="field_container">
            <div id="">
                <label>
                    {{{inspection}}}
                </label>

                <div id="sim_credDiv">
                    <div class="input_value small_input">
                        <label>
                            {{{inspection_nbmr_times}}}
                        </label>
                        <input type="number" min="0" step="1" name="numberInspections" 
                            id="numberInspections" class="no_padding_left input_70" />
                    </div>

                    <label class="disabled">
                        {{{inspection_price}}}
                    </label>
                    <div class="input_value small_input">
                         <input type="number" min="0" step="Any" name="averageInspectionCost"
                                id="averageInspectionCost" class="currencyInput unit_left" disabled />
                         <span class="unit">
                            {{{curr_symbol}}}
                         </span>
                    </div>
                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** ROAD TAX **************************-->
        <div class="field_container">
            <div id="p2">
                <label>
                    {{{road_taxes}}}
                    <span>
                        {{{road_taxes_value}}}
                    </span>
                </label>
                <div class="input_value">
                    <input type="number" min="0" step="Any" name="roadTaxes"
                           id="roadTaxes" class="currencyInput unit_n_year_left input_300"/>
                    <span class="unit">
                        {{{curr_symbol}}}/{{{year}}}
                    </span>
                </div>


                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>

        <!--  end form Step 1  -->


        <!--************************************************************************-->
        <!--************************************************************************-->
        <!--               Start Form Part 2 - Running Costs                        -->
        <!--************************************************************************-->
        <div class="form_part_head_title">
            <h2 class="lang-fixed_costs_header_1"> 
                2. {{{running_costs}}}
            </h2>
            <p class="lang-fixed_costs_header_2">
                {{{running_costs_header_2}}}
             </p>
        </div>

        <!--************************** FUELS **************************-->
        <div class="field_container">
            <div id="depr_input_td">
                <label>
                    {{{fuel_desc}}}
                </label>
                <div class="input_value small_input no_margin_bottom">
                    <label>
                        {{{fuel_calc}}}
                    </label>
                    <div class="radio_tabs small_tabs">
                        <div class="radio_tab_container">
                            <input type="radio" name="calc_combustiveis" 
                                   id="radio_fuel_euros" value="euros" onclick="fuelCalculationMethodChange('currency');"/>
                            <label>
                                {{{curr_name_plural}}}
                            </label>
                         </div>

                        <div class="radio_tab_container">
                            <input type="radio" name="calc_combustiveis" 
                                   id="radio_fuel_km" value="km" onclick="fuelCalculationMethodChange('distance');"/>
                            <label>
                                {{{std_dist}}}
                            </label>
                        </div>
                    </div>
                </div>

                <!-- /////// Option selected = Kms /////// 
                Here start >>> CONSIDERING YOU DRIVE TO WORK? YES/NO-->
                <div id="distance_div_form2" class="input_value small_input no_margin_bottom">
                    <label>
                        {{{fuel_job_calc}}}
                    </label>
                    <div class="radio_tabs small_tabs">
                        <div class="radio_tab_container">
                            <input type="radio" name="car_job_form2" class="no_left_margin" 
                                   id="car_job_form2_yes" value="true" onclick="carToJob(true);"/>
                            <label>
                                {{{yes}}}
                            </label>
                         </div>

                        <div class="radio_tab_container">
                            <input type="radio" name="car_job_form2" class="no_left_margin" 
                                   id="car_job_form2_no" value="false" onclick="carToJob(false);"/>
                            <label>
                                {{{no}}}
                            </label>
                        </div>
                    </div>
                </div>


                <!-- YES & NO options -->

                <!-- /////// Option selected = YES /////// -->
                <div class="" id="div_car_job_yes_form2" style="display: none;">
                    <div class="input_value small_input">
                        <label>
                            {{{fuel_days}}}
                        </label>
                        <input type="number" min="1" max="7" step="1" class="no_padding_left" 
                               id="car_to_work_number_days_week" name="dias_por_semana"/>
                         <span class="unit_days-per-week">
                            {{{days_per_week_short}}}
                        </span>
                    </div>

                    <div class="input_value small_input">
                        <label>
                            {{{fuel_dist_home_job}}}
                        </label>
                        <input type="number" min="0" step="Any" name="km_entre_casa_trabalho"
                               id="car_to_work_distance_home_work" class="no_padding_left"/>
                        <span class="unit_kms">
                            {{{std_dist}}}
                        </span>
                    </div>

                    <div class="input_value small_input">
                        <label>
                            {{{fuel_dist_no_job}}}
                        </label>
                        <input type="number" min="0" step="Any" name="km_fds" 
                               id="car_to_work_distance_weekend" class="no_padding_left"/>
                        <span class="unit_kms" style="margin-top: 17px">
                            {{{std_dist}}}
                        </span>
                    </div>
                </div>

                <!-- /////// Option selected = NO /////// -->
                <div class="" id="div_car_job_no_form2">
                    <div class="input_value small_input">
                        <label>
                            {{{fuel_dist}}}
                        </label>
                        <input type="number" min="0" step="Any" name="km_por_mes" 
                               id="no_car_to_work_distance" class="no_padding_left"/>
                         <span class="unit_kms">
                            {{{std_dist}}}
                        </span>
                        <span class="per">
                            {{{word_per}}}
                        </span>
                        <select class="time_period" id="combustivel_period_km"></select>
                    </div>
                </div>

                <div class="fuel_efficiency">
                    <div class="input_value small_input">
                        <label>
                            {{{fuel_car_eff}}}
                        </label>
                        <input type="number" min="0" step="Any" class="no_padding_left" 
                               id="fuel_efficiency" name="consumo_auto"/>
                        <span class="unit_litre_100kms">
                            {{{std_fuel_calc}}}
                        </span>
                    </div>
                    <label>
                        {{{fuel_price}}}
                    </label>
                    <div class="input_value small_input">
                        <input type="number" min="0" step="Any" name="fuel_price"
                               id="fuel_price" class="currencyInput small_input_unit_per_litre unit_left"/>
                        <span class="unit">
                            {{{curr_symbol}}}/{{{std_volume_short}}}
                        </span>
                    </div>
                </div>


                <!-- /////// Option selected = C$ /////// -->
                <div id="currency_div_form2" class="input_value">
                    <input type="number" min="0" step="Any" size="5" name="combustiveis_euro"
                           id="fuel_currency_value" class="currencyInput input_200 unit_left"/>
                    <span class="unit">
                        {{{curr_symbol}}}
                    </span>
                    <span class="per">
                        {{{word_per}}}
                    </span>
                    <select class="time_period" id="combustiveis_periodo_euro"></select>

                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** MAINTENANCE **************************-->
        <div class="field_container">
            <div id="">
                <label>
                    {{{maintenance}}}
                    <span>
                        {{{maintenance_desc}}}
                    </span>
                </label>
                <div class="input_value">
                    <input type="number" min="0" step="Any" name="revisoes" 
                           id="maintenance" class="currencyInput unit_n_year_left input_300">
                    <span class="unit">
                        {{{curr_symbol}}}/{{{year}}}
                    </span>
                </div>


                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** REPAIRS AND IMPROVEMENTS **************************-->
        <div class="field_container">
            <div id="">
                <label>
                    {{{rep_improv}}}
                    <span>
                        {{{rep_improv_desc}}}
                    </span>
                </label>
                <div class="input_value">
                    <input type="number" min="0" step="Any" name="reparacoes" 
                           id="repairs" class="currencyInput unit_n_year_left input_300">
                    <span class="unit">
                        {{{curr_symbol}}}/{{{year}}}
                    </span>
                </div>


                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** PARKING **************************-->
        <div class="field_container">
            <div id="">
                <label>
                    {{{parking}}}
                    <span>
                        {{{parking_desc}}}
                    </span>
                </label>
                <div class="input_value">
                    <input type="number" min="0" step="Any" name="parqueamento"
                           id="parking" class="currencyInput unit_n_month_left"/>
                    <span class="unit">
                        {{{curr_symbol}}}/{{{month}}}
                    </span>
                </div>


                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** TOLLS **************************-->
        <div class="field_container">
            <div id="">
                <label>
                    {{{tolls}}}
                    <span>
                        {{{tolls_desc}}}
                    </span>
                </label>

                <div class="input_value small_input no_margin_bottom">
                    <label>
                        {{{tolls_day_calc}}}
                    </label>
                    <div class="radio_tabs small_tabs">
                        <div class="radio_tab_container">
                             <input type="radio" name="tolls_daily_radioBtn"
                                    id="tolls_daily_true" value="true" onclick="tolls_daily(true);"/>
                            <label>
                                {{{yes}}}
                            </label>
                         </div>

                        <div class="radio_tab_container">
                            <input type="radio" name="tolls_daily_radioBtn" value="false" 
                                   id="tolls_daily_false"  onclick="tolls_daily(false);" checked="checked"/>
                            <label>
                                {{{no}}}
                            </label>
                        </div>
                    </div>
                </div>

                <!-- /////// Option selected = No /////// -->
                <div id="daily_tolls_false_div" class="input_value" style="display: none">
                    <label>
                        <span style="width: 450px">
                            {{{tolls_day_calc_desc}}}
                        </span>
                    </label>
                    <div class="input_value">
                        <input type="number" min="0" step="Any" name="no_daily_tolls_value"
                               id="no_daily_tolls_value" class="currencyInput input_200 unit_left"/>
                        <span class="unit">
                            {{{curr_symbol}}}
                        </span>
                        <span class="per">
                            {{{word_per}}}
                        </span>
                        <select class="time_period big-dropdown" id="tolls_period_select"></select>
                    </div>
                </div>

                <!-- /////// Option selected = YES /////// -->
                <div id="daily_tolls_true_div" class="input_value">
                    <input type="number" min="0" step="Any" name="daily_expense_tolls"
                           id="daily_expense_tolls" class="currencyInput input_200 unit_left"/>
                    <span class="unit">
                        {{{curr_symbol}}}
                    </span>
                    <span class="during">
                        {{{during}}}
                    </span>
                    <input type="number" min='1' max='31' step='1' 
                           id="number_days_tolls" name="number_days_tolls"/>
                    <span class="days_per_month">
                        {{{days}}}
                        {{{word_per}}}
                        {{{month}}}
                    </span>

                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** FINES / TICKETS **************************-->
        <div class="field_container">
            <div id="">
                <label>
                    {{{fines}}}
                    <span>
                        {{{fines_desc}}}
                    </span>
                </label>

                <div class="input_value">
                    <input type="number" min="0" step="Any" name="tickets_value"
                           id="tickets_value" class="currencyInput input_200 unit_left"/>
                    <span class="unit">
                        {{{curr_symbol}}}
                    </span>
                    <span class="per">
                        {{{word_per}}}
                    </span>
                    <select class="time_period big-dropdown" id="tickets_period_select"></select>

                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** WASHING **************************-->
        <div class="field_container">
            <div id="">
                <label>
                    {{{washing}}}
                    <span>
                        {{{washing_desc}}}
                    </span>
                </label>

                <div class="input_value">
                    <input type="number" min="0" step="Any" name="washing_value"
                           id="washing_value" class="currencyInput input_200 unit_left"/>
                    <span class="unit">
                        {{{curr_symbol}}}
                    </span>
                    <span class="per">
                        {{{word_per}}}
                    </span>
                    <select class="time_period big-dropdown" id="washing_period_select"></select>

                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>
        <!--  end form Step 2  -->


        <!--************************************************************************-->
        <!--************************************************************************-->
        <!--            Start Form Part 3 - Additional Data                         -->
        <!--************************************************************************-->
        <div class="form_part_head_title">
            <h2 class="lang-fixed_costs_header_1"> 
                3. {{{extra_data1}}}
            </h2>
        </div>


        <!--************************** PUBLIC TRANSPORTS **************************-->
        <div class="field_container">
            <div  id="">
                <label>
                    {{{extra_data_public_transp}}}
                </label>

                <div id="sim_credDiv">
                    <div class="input_value small_input">
                        <label>
                            {{{extra_data_family_nbr}}}
                        </label>
                        <input type="number" min="0" step="1" name="pessoas_agregado"
                               id="household_number_people" class="no_padding_left input_70"/>
                    </div>

                    <label>
                        {{{extra_data_price_pass}}}
                    </label>
                    <div class="input_value small_input">
                        <input type="number" min="0" step="Any" name="preco_passe"
                               id="public_transportation_month_expense" class="currencyInput unit_left"/>
                         <span class="unit">
                            {{{curr_symbol}}}
                        </span>
                    </div>
                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** INCOME **************************-->
        <div class="field_container">
            <div id="fin_effort_Div_form3">
                <label>
                    {{{extra_data_income_question}}}
                </label>
                <div class="radio_tabs" id="income_div_form3">
                    <div class="radio_tab_container">
                        <input type="radio" name="radio_income" value="year" 
                               id="radio_income_year" onchange="income_toggle(value)" checked />
                        <label>
                            {{{year}}}
                        </label>
                     </div>

                    <div class="radio_tab_container">
                        <input type="radio" name="radio_income" value="month" 
                               id="radio_income_month" onchange="income_toggle(value)"/>
                        <label>
                            {{{month}}}
                        </label>
                    </div>
                    <div class="radio_tab_container">
                        <input type="radio" name="radio_income" value="week" 
                               id="radio_income_week" onchange="income_toggle(value)"/>
                        <label>
                            {{{week}}}
                        </label>
                    </div>

                    <div class="radio_tab_container">
                        <input type="radio" name="radio_income" value="hour" 
                               id="radio_income_hour" onchange="income_toggle(value)"/>
                        <label>
                            {{{hour}}}
                        </label>
                    </div>
                </div>

                <!-- Year -->
                <div id="income_per_year_form3" class="div_element input_value">
                    <input type="number" min="0" step="Any" name="income_per_year"
                           id="income_per_year" class="currencyInput unit_n_year_left input_300"/>
                    <span class="unit">
                        {{{curr_symbol}}}/{{{year}}}
                    </span>
                </div>

                <!-- Month -->
                <div id="income_per_month_form3" class="input_value div_element hidden">
                    <input type="number" min="0" step="Any" name="income_per_month"
                           id="income_per_month" class="currencyInput unit_n_month_left input_300" />
                    <span class="unit">
                        {{{curr_symbol}}}/{{{month}}}
                    </span>
                    <br><br>
                    <input type="number" min="1" max="12" step="1" name="income_months_per_year"
                           id="income_months_per_year" class="input_40"/>
                    <span class="months_year">
                        {{{months}}}/{{{year}}}
                    </span>
                </div>

                <!-- Week -->
                <div id="income_per_week_form3" class="input_value div_element hidden">
                    <input type="number" min="0" step="Any" name="income_per_week"
                           id="income_per_week" class="currencyInput unit_n_month_left input_300"/>
                    <span class="unit">
                        {{{curr_symbol}}}/{{{week}}}
                    </span>
                    <br><br>
                    <input type="number" min="0" max="53" step="Any" name="income_weeks_per_year"
                           id="income_weeks_per_year" class="input_40"/>
                    <span class="months_year">
                        {{{weeks}}}/{{{year}}}
                    </span>
                </div>

                <!-- Hour -->
                <div id="income_per_hour_form3" class="input_value div_element hidden">
                    <input type="number" min="0" step="Any" name="income_per_hour"
                           id="income_per_hour" class="currencyInput unit_n_hour_left input_90"/>
                    <span class="unit">
                        {{{curr_symbol}}}/{{{hour}}}
                    </span>
                    <br><br>
                    <input type="number" min="0" max="168" step="Any" name="income_hours_per_week"
                           id="income_hours_per_week" class="input_80"/>
                    <span class="hours_week">
                        {{{hours}}}/{{{week}}}
                    </span>
                    <br><br>
                    <input type="number" min="0" max="53" step="Any" name="income_hour_weeks_per_year"
                           id="income_hour_weeks_per_year" class="input_80"/>
                    <span class="hours_week">
                        {{{weeks}}}/{{{year}}}
                    </span>
                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** WORKING TIME **************************-->
        <div class="field_container">
            <div  id="working_time_form3">
                <label class="float_left">
                    {{{extra_data_working_time_question}}}
                </label>
                <div class="radio_tabs small_tabs">
                    <div class="radio_tab_container">
                        <input type="radio" name="radio_work_time" 
                               id="working_time_yes_form3" value="true"/>
                        <label>
                            {{{yes}}}
                        </label>
                     </div>

                    <div class="radio_tab_container">
                        <input type="radio" name="radio_work_time" 
                               id="working_time_no_form3" value="false"/>
                        <label>
                            {{{no}}}
                        </label>
                    </div>
                </div>

                <!-- /////// Option selected = YES /////// -->
                <div id="working_time_input_form3" class="input_value">
                    <input type="number" min="1" max="12" step="1" name="time_month_per_year"
                           id="time_month_per_year" class="input_70"/>
                    <span class="months_year">
                        {{{months}}}/{{{year}}}
                    </span>
                    <input type="number" min="1" max="168" step="Any" name="time_hours_per_week"
                           id="time_hours_per_week" class="input_70"/>
                    <span class="hours_week">
                        {{{hours}}}/{{{week}}}
                    </span>
                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** DISTANCE **************************-->
        <div class="field_container">
            <div id="distance_form3">
                <label>
                    {{{distance}}}
                </label>

                <!-- Here start >>> CONSIDERING YOU DRIVE TO WORK? YES/NO -->
                <div class="input_value small_input no_margin_bottom">
                    <label>
                        {{{fuel_job_calc}}}
                    </label>
                    <div class="radio_tabs small_tabs">
                        <div class="radio_tab_container">
                            <input type="radio" name="drive_to_work" class="no_left_margin" 
                                   id="drive_to_work_yes_form3" value="true"/>
                            <label>
                                {{{yes}}}
                            </label>
                         </div>

                        <div class="radio_tab_container">
                            <input type="radio" name="drive_to_work" class="no_left_margin" 
                                   id="drive_to_work_no_form3" value="false"/>
                            <label>
                                {{{no}}}
                            </label>
                        </div>
                    </div>
                </div>


                <!-- YES & NO options -->

                <!-- /////// Option selected = YES /////// -->
                <div id="car_to_job_distance_form3">
                    <div class="input_value small_input">
                        <label>
                            {{{fuel_days}}}
                        </label>
                        <input type="number" min="1" max="7" step="1" class="no_padding_left"
                               id="drive_to_work_days_per_week" name="drive_to_work_days_per_week"/>  
                         <span class="unit_days-per-week">
                            {{{days_per_week_short}}}
                        </span>
                    </div>

                    <div class="input_value small_input">
                        <label>
                            {{{fuel_dist_home_job}}}
                        </label>
                        <input type="number" min="0" step="Any" class="no_padding_left small_input_kms"
                               id="dist_home_job" name="dist_home_job"/>
                        <span class="unit_kms">
                            {{{std_dist}}}
                        </span>
                    </div>

                    <div class="input_value small_input">
                        <label>
                            {{{fuel_dist_no_job}}}
                        </label>
                        <input type="number" min="0" step="Any" name="journey_weekend" 
                               id="journey_weekend" class="no_padding_left small_input_kms"/>
                        <span class="unit_kms">
                            {{{std_dist}}}
                        </span>
                    </div>
                </div>

                <!-- /////// Option selected = NO /////// -->
                <div id="car_no_job_distance_form3">
                    <div class="input_value small_input">
                        <label>
                            {{{fuel_dist}}}
                        </label>
                        <input type="number" min="0" step="Any" 
                               id="dist_per_month" class="no_padding_left" name="km_per_month"/>
                        <span class="unit_kms">
                            {{{std_dist}}}
                        </span>
                        <span class="per">
                            {{{word_per}}}
                        </span>
                        <select class="time_period" id="period_km"></select>
                    </div>
                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>


        <!--************************** TIME SPENT IN DRIVING **************************-->
        <div class="field_container">
            <div id="time_spent_part1_form3">
                <label>
                    {{{extra_data_time_question1}}}
                </label>
                <div class="input_value">
                    <input type="number" min="0" step="Any" class="input_90" 
                           id="time_home_job" name="time_home_job"/>
                    <span class="min">
                        {{{min}}}
                    </span>

                </div>

                <label>
                    {{{extra_data_time_question2}}}
                </label>
                <div class="input_value">
                    <input type="number" min="0" step="Any" class="input_90" 
                           id="time_weekend" name="time_weekend"/>
                    <span class="min">
                        {{{min}}}
                    </span>

                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>
        </div>

        <div class="field_container">
            <div id="time_spent_part2_form3">
                <label>
                    {{{extra_data_time_question3}}}
                </label>
                <div class="input_value">
                    <input type="number" min="0" step="Any" 
                           id="min_drive_per_day" class="input_70" name="min_drive_per_day" />
                    <span class="minutes_day">
                        {{{minutes}}}/{{{day}}}
                    </span>
                    <input type="number" min="0" max="31" step="1" 
                           id="days_drive_per_month" class="input_40" name="days_drive_per_month" />
                    <span class="days_per_month">
                        {{{days}}}/{{{month}}}
                    </span>

                </div>

                <div class="next">
                    <a href="#" class="button btn-orange">Next &#10230;</a>
                    <span>press <b>Enter</b> or <b>Tab</b> </span>
                </div>
            </div>        
        </div>


    </div><!--  end all forms  -->

    <div class="cta_bottom_bar">
        <a href="#" class="button btn-blue big">Calculate car cost</a>
    </div>

</div><!--  end Container  -->
