<div class="container">
    <div class="steps">
        <ul>
          <li class="list active number one"> <span>Standing costs</span> 
              <ul>
                  <li class="active done"><span>Depreciation of the vehicle</span></li>
                  <li class="active"><span>Vehicle insurance and breakdown coverage</span></li>
                  <li><span>Car finance</span></li>
                  <li><span>Vehicle inspection</span></li>
                  <li><span>Vehicle excise tax</span></li>
              </ul>
          </li>
          <li class="list number two"><span>Running costs</span>
              <ul>
                  <li><span>Fuel</span></li>
                  <li><span>Maintenance</span></li>
                  <li><span>Repair and improvements</span></li>
                  <li><span>Parking</span></li>
                  <li><span>Tolls</span></li>
                  <li><span>Traffic fines</span></li>
                  <li><span>Washing and cleaning</span></li>
              </ul>
          </li>
          <li class="list number three"><span> Additional data <span class="optional">Optional</span></span>
              <ul>
                  <li><span>Public transports</span></li>
                  <li><span>Income</span></li>
                  <li><span>Working time</span></li>
                  <li><span>Distance</span></li>
                  <li><span>Time spent in driving</span></li>
              </ul>
          </li>

        </ul>
    </div>


    <!--  Here start the long form with al the steps  -->
    <div class="form_part" id="form_part1">
        <div class="form_part_head_title">
            <h2 class="lang-fixed_costs_header_1"> 
               {{{fixed_costs_header_1}}}
            </h2>
            <p class="lang-fixed_costs_header_2">
                {{{fixed_costs_header_2}}}
             </p>
        </div>

        <div class="field_container" id="depr_input_td">
            <label>
                {{{aq_date}}}
            </label>
            <input type="date" step="1" id="acquisitionDate" name="acquisitionDate" >

            <div class="next">
                <a href="#" class="button btn-orange">Next &#10230;</a>
                <span>press <b>Enter</b> or <b>Tab</b> </span>
            </div>
        </div>

        <div class="field_container" id="p2">
            <label>
                {{{com_value}}}
                <span>
                    If new, the price you paid for the car. <br />
                    If used, the commercial value the car had when you acquired it.
                </span>
            </label>
            <div class="input_value">
                <input type="number" min="0" step="Any" id="commercialValueAtAcquisition" class="currencyInput unit_left" name="commercialValueAtAcquisition">
                <span class="unit">
                    {{{curr_symbol}}}
                </span>
            </div>


            <div class="next">
                <a href="#" class="button btn-orange">Next &#10230;</a>
                <span>press <b>Enter</b> or <b>Tab</b> </span>
            </div>
        </div>

        <div class="field_container" id="p2">
            <label>
                <!--{{{com_value_today}}}-->
                Commercial value of the car today
                <span>
                    If you sell it now, how much would you get?
                </span>
            </label>
            <div class="input_value">
                <input type="number" min="0" step="Any" id="commercialValueAtAcquisition" class="currencyInput unit_left" name="commercialValueAtAcquisition">
                <span class="unit">
                    {{{curr_symbol}}}
                </span>
            </div>


            <div class="next">
                <a href="#" class="button btn-orange">Next &#10230;</a>
                <span>press <b>Enter</b> or <b>Tab</b> </span>
            </div>
        </div>


        <!--************************** INSURANCE **************************-->

        <div class="field_container" id="">
            <label>
                {{{insurance}}}
            </label>
            <div class="radio_tabs">
                <div class="radio_tab_container">
                    <input type="radio" name="insurancePaymentPeriod" value="mensal">
                    <label>
                        {{{monthly}}}
                    </label>
                 </div>

                <div class="radio_tab_container">
                    <input type="radio" name="insurancePaymentPeriod" value="trimestral">
                    <label>
                        {{{trimesterly}}}
                    </label>
                </div>
                <div class="radio_tab_container">
                    <input type="radio" name="insurancePaymentPeriod" value="semestral">
                    <label>
                        {{{semesterly}}}
                    </label>
                </div>

                <div class="radio_tab_container">
                    <input type="radio" name="insurancePaymentPeriod" value="anual">
                    <label>
                        {{{yearly}}}
                    </label>
                </div>
            </div>

            <div class="input_value">
                <input type="number" min="0" step="Any" id="insuranceValue" class="currencyInput unit_left" name="insuranceValue" />
                <span class="unit">
                    {{{curr_symbol}}}
                </span>
            </div>

            <div class="next">
                <a href="#" class="button btn-orange">Next &#10230;</a>
                <span>press <b>Enter</b> or <b>Tab</b> </span>
            </div>
        </div>

        <!--************************** CREDIT **************************-->

        <div class="field_container" id="">
            <label class="float_left">
                {{{insurance}}}
            </label>
            <div class="radio_tabs small_tabs">
                <div class="radio_tab_container">
                    <input type="radio" id="cred_auto_true" name="AutoCreditRadioBtn" value="true" class="" onclick="onclick_div_show('#sim_credDiv',true);">
                    <label>
                        {{{yes}}}
                    </label>
                 </div>

                <div class="radio_tab_container">
                    <input type="radio" id="cred_auto_false" name="AutoCreditRadioBtn" value="false" class="" onclick="onclick_div_show('#sim_credDiv',false);" checked>
                    <label>
                        {{{no}}}
                    </label>
                </div>
            </div>

            <div id="sim_credDiv">
                <div class="input_value small_input">
                    <label>
                        {{{credit_loan}}}
                    </label>
                     <input type="number" min="0" step="Any" id="borrowedAmount" class="currencyInput unit_left" name="borrowedAmount"/>
                    <span class="unit">
                        {{{curr_symbol}}}
                    </span>
                </div>
                <div class="input_value small_input">
                    <label>
                        {{{credit_period}}}
                    </label>
                     <input type="number" min="1" step="1" id="numberInstallments" name="numberInstallments" class="no_padding_left" />
                </div>
                <div class="input_value small_input">
                    <label>
                        {{{credit_average_value}}}
                    </label>
                     <input type="number" min="0" step="Any" id="amountInstallment" class="currencyInput unit_left" name="amountInstallment" />
                    <span class="unit">
                        {{{curr_symbol}}}
                    </span>
                </div>
                <div class="input_value small_input">
                    <label>
                        {{{credit_residual_value}}}
                    </label>
                    <input type="number" min="0" step="Any" id="residualValue" class="currencyInput unit_left" name="residualValue" />
                    <span class="unit" style="top: 49px">
                        {{{curr_symbol}}}
                    </span>
                </div>
            </div>

            <div class="next">
                <a href="#" class="button btn-orange">Next &#10230;</a>
                <span>press <b>Enter</b> or <b>Tab</b> </span>
            </div>
        </div>

    </div>


</div>           

