<section id="info-boxes">
    <div class="container">
        <!--  BOX 1 -->
        <div class="info-box box-1">
            <h3>{{{your_car_costs_you}}}</h3>
            <h2>
                <sup>{{{curr_symbol}}}</sup><span class="total_costs_per_period"></span>
            </h2>

            <span class="per">{{{word_per}}}</span> 
            <select id="totalCostsPeriod">
                <option value="month">{{{month}}}</option>
                <option value="trimester">{{{trimester}}}</option>
                <option value="semester">{{{semester}}}</option>
                <option value="year">{{{year}}}</option>
            </select>
        </div>

        <!--  BOX 2 -->
        <div class="info-box box-2">
            <h2>
                <sup>{{{curr_symbol}}}</sup><span class="total_costs_ever toFixed0"></span>
            </h2>
            <span class="">in <b><span class="age_months toFixed0"></span></b> of possession</span> 
        </div>

        <!--  BOX 3 -->
        <div class="info-box box-3">
            <div class="cake-income">
                <canvas id="doughnutChart"></canvas>
            </div>
            <div class="text">
                <h2><span class="fin_effort_percentage_of_income percentage toFixed0"></span></h2>                    
                <span class="">of your income</span>
            </div>
        </div>
    </div>    
</section>

<!-- ************************** AVERAGE PERIODIC COST ************************** -->
<section id="avg-periodic-cost">
    <h2 class="costs_per_type"></h2>
    <div class="stats">
        <canvas id="costsChart"></canvas>
    </div>
    <div class="stats-references">
        <div class="standing-costs">
            <h5>{{{fixed_costs}}}</h5>
            <ul>
                <li class="depreciation_color">{{{depreciation}}}</li>
                <li class="vehicle-insurance_color">{{{insurance}}}</li>
                <li class="car-finance_color">{{{credit}}}</li>
                <li class="vehicle-inspection_color">{{{inspection}}}</li>
                <li class="vehicle-excise_color">{{{road_taxes}}}</li>
            </ul>
        </div>
        <div class="running-costs">
            <h5>{{{running_costs}}}</h5>
            <ul>
                <li class="fuel_color">{{{fuel}}}</li>
                <li class="maintenance_color">{{{maintenance}}}</li>
                <li class="repair_color">{{{rep_improv}}}</li>
                <li class="parking_color">{{{parking}}}</li>
                <li class="tolls_color">{{{tolls}}}</li>
                <li class="traffic_color">{{{fines}}}</li>
                <li class="washing_color">{{{washing}}}</li>
            </ul>
        </div>

    </div>

    <div class="three-boxes">
        <div class="standing-costs box">
            <div class="title">
                <h3>{{{fixed_costs}}}</h3>
                <span class="average_costs_per_type"></span>
            </div>

            <button class="accordion">
                <span class="expandable-item depreciation_color">{{{depreciation}}}</span>
                <span class="periodic_costs_depreciation"></span>
            </button>
            <div class="panel depreciation_details">
            </div>

            <button class="accordion">
                <span class="expandable-item vehicle-insurance_color">{{{insurance_short}}}</span>
                <span class="periodic_costs_insurance"></span>
            </button>
            <div class="panel insurance_details">
            </div>

            <button class="accordion">
                <span class="expandable-item car-finance_color">{{{credit}}}</span>
                <span class="periodic_costs_credit"></span>
            </button>
            <div class="panel credit_details">
            </div>

            <button class="accordion">
                <span class="expandable-item vehicle-inspection_color">{{{inspection}}}</span>
                <span class="periodic_costs_inspection"></span>
            </button>
            <div class="panel inspection_details">
            </div>

            <button class="accordion">
                <span class="expandable-item vehicle-excise_color">{{{road_taxes_short}}}</span>
                <span class="periodic_costs_car_tax"></span>
            </button>
            <div class="panel car_tax_details">
            </div>

            <button class="accordion">
                <span class="expandable-item maintenance_color">50% {{{maintenance}}}</span>
                <span class="periodic_costs_halfOfMaintenance"></span>
            </button>
            <div class="panel maintenance_details">
            </div>

            <div class="total-ammount">
                <h4>{{{total_fixed}}}</h4>
                <span class="periodic_costs_total_standing_costs"></span>
            </div>
        </div>


        <div class="running-costs box">
            <div class="title">
                <h3>{{{running_costs}}}</h3>
                <span class="average_costs_per_type"></span>
            </div>

            <button class="accordion">
                <span class="expandable-item fuel_color">{{{fuel}}}</span>
                <span class="periodic_costs_fuel"></span>
            </button>
            <div class="panel fuel_details">
            </div>

            <button class="accordion">
                <span class="expandable-item maintenance_color">50% {{{maintenance}}}</span>
                <span class="periodic_costs_halfOfMaintenance"></span>
            </button>
            <div class="panel maintenance_details">
            </div>

            <button class="accordion">
                <span class="expandable-item repair_color">{{{rep_improv}}}</span>
                <span class="periodic_costs_repairs_improv"></span>
            </button>
            <div class="panel repairs_improv_details">
            </div>

            <button class="accordion">
                <span class="expandable-item parking_color">{{{parking}}}</span>
                <span class="periodic_costs_parking"></span>
            </button>
            <div class="panel parking_details">
            </div>

            <button class="accordion">
                <span class="expandable-item tolls_color">{{{tolls}}}</span>
                <span class="periodic_costs_tolls"></span>
            </button>
            <div class="panel tolls_details">
            </div>

            <button class="accordion">
                <span class="expandable-item traffic_color">{{{fines}}}</span>
                <span class="periodic_costs_fines"></span>
            </button>
            <div class="panel fines_details">
            </div>

            <button class="accordion">
                <span class="expandable-item washing_color">{{{washing}}}</span>
                <span class="periodic_costs_washing"></span>
            </button>
            <div class="panel washing_details">
            </div>

            <div class="total-ammount">
                <h4>{{{total_variable}}}</h4>
                <span class="periodic_costs_total_running_costs"></span>
            </div>

        </div>

        <div class="total box">
            <div class="title">
                <h3>{{{word_total_cap}}}</h3>
                <span>{{{costs}}}</span>
            </div>
            <div class="total-item">
                <h5>{{{run_cp_dist}}}</h5>
                <span class="running_costs_p_unit_distance currency toFixed2"></span>
            </div>

            <div class="total-item">
                <h5>{{{total_cp_dist}}}</h5>
                <span class="total_costs_p_unit_distance currency toFixed2"></span>
            </div>

            <div class="total-item">
                <h5>{{{fixed_costs}}}</h5>
                <span class="periodic_costs_total_standing_costs"></span>
            </div>

            <div class="total-item">
                <h5>{{{running_costs}}}</h5>
                <span class="periodic_costs_total_running_costs"></span>
            </div>

            <div class="total-ammount">
                <h4>{{{word_total_cap}}}</h4>
                <span class="periodic_costs_total_costs"></span>
            </div>

        </div>

    </div> <!--Three boxes finish here-->

</section><!--HERE FINISHES AVERAGE MONTHLY COST-->


<!-- ************************** FINANCIAL EFFORT ************************** -->
<section id="financial-effort" class="results-section">
    <h2>{{{financial_effort}}}</h2>

    <div class="graph">
        <h5>{{{net_income_per}}} {{{year}}} vs {{{total_costs_per_year}}}</h5>
        <div class="stats">
            <canvas id="finEffortChart"></canvas>       
        </div>
        <div class="stats-references">
            <ul>
                <li class="net-income_color">{{{net_income_per}}} {{{year}}}</li>
                <li class="total-costs_color">{{{total_costs_per_year}}}</li>
            </ul>
        </div>
    </div>

    <div class="values box">

        <div class="title">
            <span>{{{word_per}}} {{{year}}}</span>
        </div>

        <button class="accordion">
            <span class="expandable-item">{{{extra_data_income}}}</span>
            <span class="fin_effort_income_per_year currency toFixed0"></span>
        </button>
        <div class="panel income_details">
        </div>

        <button class="accordion">                    
            <span class="expandable-item">{{{extra_data_working_time}}}</span>
            <span class="fin_effort_work_hours_per_y hours toFixed0"></span>
        </button>
        <div class="panel working_time_details">
        </div>

        <button class="accordion">
            <span class="expandable-item">{{{distance}}}</span>
            <span class="driving_distance_drive_per_year distance toFixed0"></span>
        </button>
        <div class="panel distance_details">
        </div>

        <button class="accordion">
            <span class="expandable-item">{{{extra_data_time_spent_in_driving}}}</span>
            <span class="time_spent_driving_hours_drive_per_year hours toFixed0"></span>
        </button>
        <div class="panel time_spent_in_driving_details">
        </div>

        <button class="accordion">
            <span class="expandable-item">{{{financial_effort}}}</span>
            <span class="fin_effort_percentage_of_income percentage toFixed0"></span>
        </button>
        <div class="panel financial_effort_details">
        </div>

    </div>

</section>



<!-- ************************** EQUIVALENT TRANSPORT COSTS ************************** -->
<section id="equivalent-transport-costs" class="results-section">
    <h2>{{{publ_tra_equiv}}}</h2>
    <div class="graph">
        <h5>{{{your_car_costs_you}}} vs {{{pub_trans_text}}} vs Uber</h5>
        <div class="stats">
            <canvas id="equivalentTransportChart"></canvas>               
        </div>
        <div class="stats-references">
            <ul>
                <li class="car-cost_color">{{{your_car_costs_you}}}</li>
                <li class="public-trans_color">{{{pub_trans_text}}}</li>
                <li class="taxi-trans_color">{{{taxi_desl}}}</li>
                <li class="other-trans_color">{{{other_pub_trans}}}</li>
                <li class="uber_color">Uber</li>
                <li class="other-trans-2_color">{{{other_pub_trans}}}</li>
            </ul>
        </div>
    </div>

    <!-- Public Transports -->
    <div class="values box">
        <div class="title">
            <span>{{{monthly_amount}}}</span>
        </div>

        <button class="accordion">
            <span class="expandable-item public-trans_color">{{{pub_trans_text}}}</span>
            <span class="public_transports_total_price_pt currency toFixed1"></span>
        </button>
        <div class="panel public_transports_details">
        </div>

        <button class="accordion">
            <span class="expandable-item taxi-trans_color">{{{taxi_desl}}}</span>
            <span class="public_transports_taxi_cost currency toFixed1"></span>
        </button>
        <div class="panel taxi_details">
        </div>

        <button class="accordion">
            <span class="expandable-item other-trans_color">{{{other_pub_trans}}}</span>
            <span class="public_transports_other_pt currency toFixed1"></span>             
        </button>
        <div class="panel other_pub_trans_details">
        </div>

        <div class="total-ammount">
            <h4>{{{word_total_cap}}}</h4>
            <span class="total_costs_month currency toFixed0"></span>
        </div>
    </div>

    <!-- Uber -->
    <div class="values box uber">
        <div class="title">
            <span>{{{monthly_amount}}}</span>
        </div>

        <button class="accordion">
            <span class="expandable-item uber_color">Uber</span>
            <span class="uber_total_costs_by_uber currency toFixed1"></span>
        </button>
        <div class="panel uber_details">
        </div>

        <button class="accordion">
            <span class="expandable-item other-trans-2_color">{{{other_pub_trans}}}</span>
            <span class="uber_other_public_transports currency toFixed1"></span>
        </button>
        <div class="panel other_pub_trans_for_uber_details">
        </div>

        <div class="total-ammount">
            <h4>{{{word_total_cap}}}</h4>
            <span class="total_costs_month currency toFixed0"></span>
        </div>
    </div>

</section>
  
