<div>
    {{{your_car_costs_you}}} <span class="total_costs_year currency toFixed2"></span> {{{word_per}}} {{{year}}}
    <br>
    {{{depreciation}}} <span class="monthly_costs_depreciation currency toFixed0"></span> {{{word_per}}} {{{month}}}
    <br>
    {{{period_own}}}: <span class="age_months toFixed0"></span> {{{months}}}
    <br>
    {{{you_drive_tottaly_avg}}} <span class="driving_distance_drive_per_year toFixed0"></span> {{{getDistanceOptStrShort}}} 
</div>

