<section id="info-boxes">
    <div class="container">
        <!--  BOX 1 -->
        <div class="info-box box-1">
            <h3>{{{your_car_costs_you}}}</h3>
            <h2>
                <!-- this field is filled in by showResultsModule.js -->
                <sup>{{{curr_symbol}}}</sup><span class="total_costs_per_period">#</span>
            </h2>

            <span class="per">{{{word_per}}}</span>
            <select id="totalCostsPeriod">
                <option value="month">{{{month}}}</option>
                <option value="trimester">{{{trimester}}}</option>
                <option value="semester">{{{semester}}}</option>
                <option value="year">{{{year}}}</option>
            </select>
        </div>

        <!--  BOX 2 -->
        <div class="info-box box-2">
            <h2>
                <sup>{{{curr_symbol}}}</sup><span class="costs_totalEver toFixed0"></span>
            </h2>
            <span class="">
                {{{get_in_months_of_possession 1}}} <b><span class="details_ageOfCarInMonths toFixed0"></span></b> {{{get_in_months_of_possession 2}}}
            </span>
        </div>

        <!--  BOX 3 -->
        <div class="info-box box-3">
            <div class="cake-income">
                <!--  the small dounghnut chart that shows financial effort -->
                <canvas id="doughnutChart"></canvas>
            </div>
            <div class="text">
                <!-- this field is filled in by showResultsModule.js -->
                <h2><span class="financialEffort_financialEffortPercentage percentage toFixed0">#</span></h2>
                <span class="">{{{of_your_income}}}</span>
            </div>
        </div>
    </div>
</section>

<!-- ************************** AVERAGE PERIODIC COST ************************** -->
<section id="avg-periodic-cost">
    <!-- default costs period is month -->
    <h2 class="costs_per_type">{{{costs}}} {{{per}}} {{{month}}}</h2>
    <div class="costs-doughnut-chart">
        <!--  the dounghnut chart with all the costs items -->
        <canvas id="costsDoughnutChart"></canvas>
    </div>
    <div class="costs-bars-chart-stats">
        <canvas id="costsBarsChart"></canvas>
    </div>
    <div class="stats-references">
        <div class="standing-costs">
            <h5>{{{fixed_costs}}}</h5>
            <ul>
                <li class="depreciation_color">{{{depreciation}}}</li>
                <li class="insurance_color">{{{insurance}}}</li>
                <li class="credit_color">{{{credit}}}</li>
                <li class="inspection_color">{{{inspection}}}</li>
                <li class="roadTaxes_color">{{{road_taxes}}}</li>
            </ul>
        </div>
        <div class="running-costs">
            <h5>{{{running_costs}}}</h5>
            <ul>
                <li class="fuel_color">{{{fuel}}}</li>
                <li class="maintenance_color">{{{maintenance}}}</li>
                <li class="repairsImprovements_color">{{{rep_improv}}}</li>
                <li class="parking_color">{{{parking}}}</li>
                <li class="tolls_color">{{{tolls}}}</li>
                <li class="fines_color">{{{fines}}}</li>
                <li class="washing_color">{{{washing}}}</li>
            </ul>
        </div>

    </div>

    <div class="three-boxes">
        <div class="standing-costs box">
            <div class="title">
                <h3>{{{fixed_costs}}}</h3>
                <span class="average_costs_per_type"></span>
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item depreciation_color">{{{depreciation}}}</span>
                <span class="periodic_costs_depreciation"></span>
            </button>
            <div class="panel depreciation_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item insurance_color">{{{insurance_short}}}</span>
                <span class="periodic_costs_insurance"></span>
            </button>
            <div class="panel insurance_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item credit_color">{{{credit}}}</span>
                <span class="periodic_costs_credit"></span>
            </button>
            <div class="panel credit_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item inspection_color">{{{inspection}}}</span>
                <span class="periodic_costs_inspection"></span>
            </button>
            <div class="panel inspection_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item roadTaxes_color">{{{road_taxes_short}}}</span>
                <span class="periodic_costs_roadTaxes"></span>
            </button>
            <div class="panel roadTaxes_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item maintenance_color">50% {{{maintenance}}}</span>
                <span class="periodic_costs_halfOfMaintenance"></span>
            </button>
            <div class="panel maintenance_details">
            </div>

            <div class="total-ammount">
                <h4>{{{getCapitalizedWord word_total_cap}}}</h4>
                <span class="periodic_costs_total_standing_costs"></span>
            </div>
        </div>

        <div class="running-costs box">
            <div class="title">
                <h3>{{{running_costs}}}</h3>
                <span class="average_costs_per_type"></span>
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item fuel_color">{{{fuel}}}</span>
                <span class="periodic_costs_fuel"></span>
            </button>
            <div class="panel fuel_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item maintenance_color">50% {{{maintenance}}}</span>
                <span class="periodic_costs_halfOfMaintenance"></span>
            </button>
            <div class="panel maintenance_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item repairsImprovements_color">{{{rep_improv}}}</span>
                <span class="periodic_costs_repairsImprovements"></span>
            </button>
            <div class="panel repairsImprovements_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item parking_color">{{{parking}}}</span>
                <span class="periodic_costs_parking"></span>
            </button>
            <div class="panel parking_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item tolls_color">{{{tolls}}}</span>
                <span class="periodic_costs_tolls"></span>
            </button>
            <div class="panel tolls_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item fines_color">{{{fines}}}</span>
                <span class="periodic_costs_fines"></span>
            </button>
            <div class="panel fines_details">
            </div>

            <button type="button" class="accordion">
                <span class="expandable-item washing_color">{{{washing}}}</span>
                <span class="periodic_costs_washing"></span>
            </button>
            <div class="panel washing_details">
            </div>

            <div class="total-ammount">
                <h4>{{{getCapitalizedWord word_total_cap}}}</h4>
                <span class="periodic_costs_total_running_costs"></span>
            </div>

        </div>

        <div class="total box">
            <div class="title">
                <h3>{{{word_total_cap}}}</h3>
                <span>{{{costs}}}</span>
            </div>
            <div class="total-item">
                <h5>{{{capitalizeFirstLetter running_costs}}} {{{word_per}}} {{{toLowerCase distance}}}</h5>
                <span class="costs_perUnitDistance_runningCosts currency_per_distance toFixed2"></span>
            </div>

            <div class="total-item">
                <h5>{{{capitalizeFirstLetter in_total}}} {{{word_per}}} {{{toLowerCase distance}}}</h5>
                <span class="costs_perUnitDistance_totalCosts currency_per_distance toFixed2"></span>
            </div>

            <div class="total-item">
                <h5>{{{fixed_costs}}}</h5>
                <span class="periodic_costs_total_standing_costs"></span>
            </div>

            <div class="total-item">
                <h5>{{{running_costs}}}</h5>
                <span class="periodic_costs_total_running_costs"></span>
            </div>

            <div class="total-ammount">
                <h4>{{{word_total_cap}}}</h4>
                <span class="periodic_costs_total_costs"></span>
            </div>

        </div>

    </div> <!--Three boxes finish here-->

</section><!--HERE FINISHES AVERAGE MONTHLY COST-->


<!-- ************************** FINANCIAL EFFORT ************************** -->
<section id="financial-effort" class="results-section">
    <h2>{{{financial_effort}}}</h2>

    <div class="graph">
        <h5>{{{net_income_per}}} {{{year}}} vs {{{total_costs_per_year}}}</h5>
        <div class="stats">
            <canvas id="finEffortChart"></canvas>
        </div>
        <div class="stats-references">
            <ul>
                <li class="net-income_color">{{{net_income_per}}} {{{year}}}</li>
                <li class="total-costs_color">{{{total_costs_per_year}}}</li>
            </ul>
        </div>
    </div>

    <div class="values box">

        <div class="title">
            <span>{{{word_per}}} {{{year}}}</span>
        </div>

        <button type="button" class="accordion">
            <span class="expandable-item">{{{extra_data_income}}}</span>
            <span class="financialEffort_income_perYear currency toFixed0"></span>
        </button>
        <div class="panel income_details">
        </div>

        <button type="button" class="accordion">
            <span class="expandable-item">{{{extra_data_working_time}}}</span>
            <span class="financialEffort_workingTime_hoursPerYear hours toFixed0"></span>
        </button>
        <div class="panel working_time_details">
        </div>

        <button type="button" class="accordion">
            <span class="expandable-item">{{{distance}}}</span>
            <span class="drivingDistance_perYear distance toFixed0"></span>
        </button>
        <div class="panel distance_details">
        </div>

        <button type="button" class="accordion">
            <span class="expandable-item">{{{extra_data_time_spent_in_driving}}}</span>
            <span class="timeSpentInDriving_hoursPerYear hours toFixed0"></span>
        </button>
        <div class="panel time_spent_in_driving_details">
        </div>

        <button type="button" class="accordion">
            <span class="expandable-item">{{{financial_effort}}}</span>
            <span class="financialEffort_financialEffortPercentage percentage toFixed0"></span>
        </button>
        <div class="panel financial_effort_details">
        </div>

    </div>

</section>



<!-- ************************** EQUIVALENT TRANSPORT COSTS ************************** -->
<section id="equivalent-transport-costs" class="results-section">
    <h2>{{{publ_tra_equiv}}}</h2>
    <div class="graph">
        <h5>{{{your_car_costs_you}}} vs {{{pub_trans_text}}} vs Uber</h5>
        <div class="stats">
            <canvas id="equivalentTransportChart"></canvas>
        </div>
        <div class="stats-references">
            <ul>
                <li class="car-cost_color">{{{your_car_costs_you}}}</li>
                <li class="public-trans_color">{{{pub_trans_text}}}</li>
                <li class="taxi-trans_color">{{{taxi_desl}}}</li>
                <li class="other-trans_color">{{{other_pub_trans}}}</li>
                <li class="uber_color">Uber</li>
                <li class="other-trans-2_color">{{{other_pub_trans}}}</li>
            </ul>
        </div>
    </div>

    <!-- Public Transports -->
    <div class="values box">
        <div class="title">
            <span>{{{monthly_amount}}}</span>
        </div>

        <button type="button" class="accordion">
            <span class="expandable-item public-trans_color">{{{pub_trans_text}}}</span>
            <span class="publicTransports_totalCostsOfStandardPublicTransports currency toFixed1"></span>
        </button>
        <div class="panel public_transports_details">
        </div>

        <button type="button" class="accordion">
            <span class="expandable-item taxi-trans_color">{{{taxi_desl}}}</span>
            <span class="publicTransports_taxi_totalCosts currency toFixed1"></span>
        </button>
        <div class="panel taxi_details">
        </div>

        <button type="button" class="accordion">
            <span class="expandable-item other-trans_color">{{{other_pub_trans}}}</span>
            <span class="publicTransports_furtherPublicTransports_totalCosts currency toFixed1"></span>
        </button>
        <div class="panel other_pub_trans_details">
        </div>

        <div class="total-ammount">
            <h4>{{{word_total_cap}}}</h4>
            <span class="costs_perMonth_total currency toFixed0"></span>
        </div>
    </div>

    <!-- Uber -->
    <div class="values box uber">
        <div class="title">
            <span>{{{monthly_amount}}}</span>
        </div>

        <button type="button" class="accordion">
            <span class="expandable-item uber_color">Uber</span>
            <span class="uber_uberCosts_total currency toFixed1"></span>
        </button>
        <div class="panel uber_details">
        </div>

        <button type="button" class="accordion">
            <span class="expandable-item other-trans-2_color">{{{other_pub_trans}}}</span>
            <span class="uber_publicTransportsCostsCombinedWithUber currency toFixed1"></span>
        </button>
        <div class="panel other_pub_trans_for_uber_details">
        </div>

        <div class="total-ammount">
            <h4>{{{word_total_cap}}}</h4>
            <span class="costs_perMonth_total currency toFixed0"></span>
        </div>
    </div>

</section>
