
<div class="sidebar left">
    <div class="sidebar-left-container">
        <a class="btn btn-danger cursor_pointer close" data-action="close" data-side="left"><span></span></a>
        <h3>Info</h3>

        {{{createParagraphs words.initial_text}}}

        <div class="sidebar-contact">
            <h3><a href="https://www.npmjs.com/package/autocosts">@npm</a></h3>
            <h3><a href="https://github.com/jfoclpf/autocosts">@github</a></h3>
        </div>
    </div>
</div>

<div class="sidebar right">    
    <div class="sidebar-right-container">
        <a class="btn btn-danger cursor_pointer close" data-action="close" data-side="right"><span></span></a>
        <h3>Costs for
            <select name="country_select_stats" id="country_select_stats">
                {{~#each serverData.availableCountries~}}
                <option value="{{@key}}"{{{isSelected ../CC @key}}}>
                    {{~this~}}
                </option>
                {{/each}}
            </select>
        </h3>            
        
        <div class="headNote">
            <div class="worldStats">
                <a href="/stats">World stats</a>
            </div>
            <div></div>
        </div>             
        
        {{#with words}}
        <h4>{{{average_costs_per_type}}}</h4>
        <table>
            <tr>
                <th>{{{fixed_costs}}}</th>
                <th></th>
            </tr>
            <tr>
                <td>{{{depreciation}}}</td>
                <td><span class="stats_table-costs_perMonth_items_depreciation"></span></td>
            </tr>
            <tr>
                <td>{{{insurance}}}</td>
                <td><span class="stats_table-costs_perMonth_items_insurance"></span></td>
            </tr>
            <tr>
                <td>{{{credit}}}</td>
                <td><span class="stats_table-costs_perMonth_items_credit"></span></td>
            </tr>
            <tr>
                <td>{{{inspection}}}</td>
                <td><span class="stats_table-costs_perMonth_items_inspection"></span></td>
            </tr>
            <tr>
                <td>{{{road_taxes}}}</td>
                <td><span class="stats_table-costs_perMonth_items_roadTaxes"></span></td>
            </tr>
            <tr>
                <td>50% {{{maintenance}}}</td>
                <td><span class="stats_table-costs_perMonth_items_maintenance"></span></td>
            </tr>    
            <tr class="subtotal">
                <td>{{{total_fixed}}}</td>
                <td><span class="stats_table-costs_perMonth_standingCosts"></span></td>
            </tr>     
        </table>
        <table>
            <tr>
                <th>{{{running_costs}}}</th>
                <th></th>
            </tr>
            <tr>
                <td>{{{fuel}}}</td>
                <td><span class="stats_table-costs_perMonth_items_fuel"></span></td>
            </tr>
            <tr>
                <td>50% {{{maintenance}}}</td>
                <td><span class="stats_table-costs_perMonth_items_maintenance"></span></td>
            </tr>
            <tr>
                <td>{{{rep_st}}}</td>
                <td><span class="stats_table-costs_perMonth_items_repairsImprovements"></span></td>
            </tr>
            <tr>
                <td>{{{parking}}}</td>
                <td><span class="stats_table-costs_perMonth_items_parking"></span></td>
            </tr>
            <tr>
                <td>{{{tolls}}}</td>
                <td><span class="stats_table-costs_perMonth_items_tolls"></span></td>
            </tr>
            <tr>
                <td>{{{fines}}}</td>
                <td><span class="stats_table-costs_perMonth_items_fines"></span></td>
            </tr>
            <tr>
                <td>{{{washing}}}</td>
                <td><span class="stats_table-costs_perMonth_items_washing"></span></td>
            </tr>    
            <tr class="subtotal">
                <td>{{{total_variable}}}</td>
                <td><span class="stats_table-costs_perMonth_runningCosts"></span></td>
            </tr>     
        </table>
        <table class="total blue-bg">
            <tr>
                <th>{{{monthly_amount}}}</th>
                <th><span class="stats_table-costs_perMonth_total"></span></th>
            </tr>
        </table>


        <h4 class="yellow-bar">{{{word_total_cap}}} ({{{yearly}}})</h4>
        <table>
            <tr>
                <td>{{{run_cp_dist}}}</td>
                <td><span class="stats_table-costs_perUnitDistance_runningCosts"></span></td>
            </tr>
            <tr>
                <td>{{{total_cp_dist}}}</td>
                <td><span class="stats_table-costs_perUnitDistance_totalCosts"></span></td>
            </tr>
            <tr>
                <td>{{{kinetic_speed}}}</td>
                <td><span class="stats_table-speeds_averageKineticSpeed"></span></td>
            </tr>
            <tr>
                <td>{{{virtual_speed}}}</td>
                <td><span class="stats_table-speeds_averageConsumerSpeed"></span></td>
            </tr>
        </table>
        <table class="total yellow-bg">
            <tr>
                <th>{{{total_costs_per_year}}}</th>
                <th><span class="stats_table-costs_totalPerYear"></span></th>
            </tr>
        </table>
        {{/with}}
    </div>    
</div>
