<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{{ adapt_title web_page_title}}}</title>
    
    <!--gets the first sentence of variable $INITIAL_TEXT-->
    <meta name="description" content="{{{ meta_description ./initial_text }}}">
    <meta name="keywords" content="{{{ get_keywords ./web_page_title ./fixed_costs ./running_costs }}}">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Autocosts Org">
    <meta name="robots" content="{{#if isThisATest}}noindex, nofollow{{else}}index, follow{{/if}}">

    <meta http-equiv="Content-Security-Policy" content="
        {{~emptyChar}} default-src 'self' cdnjs.cloudflare.com *.google.com *.gstatic.com {{#each domains}}*.{{this}} {{/each}};
        {{~emptyChar}} script-src 'self' cdnjs.cloudflare.com *.googleapis.com *.google.com *.google-analytics.com *.gstatic.com *.autocosts.info 'unsafe-inline' 'unsafe-eval';
        {{~emptyChar}} style-src 'self' cdnjs.cloudflare.com *.google.com *.gstatic.com *.autocosts.info 'unsafe-inline' 'unsafe-eval'; 
        {{~emptyChar}} img-src 'self' *.autocosts.info *.google-analytics.com *.g.doubleclick.net;">
    
    <style>{{> merged1.css }}</style>
    
</head>
<body>
    {{{body}}}
    <script src="Globals.js/{{{ CC }}}"></script>
</body>
</html>