<!DOCTYPE html>
<html lang="{{{get2letterLangCode}}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

  <meta name="author" content="Autocosts Org">
  <meta name="viewport" content="width=device-width">
  <meta name="robots" content="{{#if pageData.isThisATest}}noindex, nofollow{{else}}index, follow{{/if}}">

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{{pageData.url.href}}}">
  <meta property="og:site_name" content="autocosts.info">
  <meta property="og:locale" content="{{{ getLocale }}}">

  <!-- /XX type pages -->
  {{#if isGetCC}}
      <title>{{{ words.web_page_adapted_title }}}</title>

      <meta property="og:title" content="{{{ words.web_page_adapted_title }}}">
      <meta property="og:description" content="{{{ words.socialmedia_description }}}">

      <meta name="description" content="{{{ words.socialmedia_description }}}">
      <meta name="keywords" content="{{{ words.meta_keywords }}}">

      <link rel="canonical" href="{{{ pageData.url.canonical }}}">

      <link rel="manifest" href="/{{CC}}.webmanifest" crossorigin="use-credentials">

      <!-- Banner to link to the APP, uncomment when APP is also upgraded to new UI
      <meta name="google-play-app" content="app-id=info.autocosts">
      <link href="/css/smart-app-banner.css" rel="stylesheet" media="screen" />
      -->

  <!-- /stats page -->
  {{else if isStats}}
      <title>World statistics of the Car Costs</title>

      <meta property="og:title" content="World statistics of Car Costs - autocosts.info">
      <meta property="og:description" content="World statistics of the Car Costs for different countries">
      <meta name="description" content="World statistics of the Car Costs for different countries">

      <link rel="canonical" href="{{{ pageData.url.origin }}}/stats">

      <link rel="stylesheet" href="/css/stats/main.css" type="text/css">

  <!-- /list page -->
  {{else if isList}}
      {{#if error404}}
          <title>Error, page does not exist</title>
          <meta property="og:title" content="Error, page does not exist">
      {{else}}
          <title>{{{ title }}}</title>
          <meta property="og:title" content="{{{ title }}} - autocosts.info">
          <meta property="og:description" content="{{{ title }}}">
          <meta name="description" content="{{{ title }}}">
          <link rel="canonical" href="{{{ pageData.url.origin }}}/list">
      {{/if}}
      <link rel="stylesheet" href="/css/list.css" type="text/css">

  <!-- /tables/:CC -->
  {{else if isCostsTable}}
    <title>{{{words.statistic_title}}} {{{countryName}}}</title>
    <meta property="og:title" content="{{{words.statistic_title}}} {{{countryName}}}">

    <link rel="stylesheet" href="/css/statsCC.css" type="text/css">
  {{/if}}

  <!-- see https://developer.mozilla.org/en-US/docs/Web/HTML/Preloading_content -->
  <link rel="preload" href="/css/fonts/XRXV3I6Li01BKofIO-aBXso.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/css/fonts/XRXV3I6Li01BKofINeaB.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/css/fonts/XRXW3I6Li01BKofAjsOUYevI.woff2" as="font" type="font/woff2" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/mergedInit.css" media="screen">

  <!--temporary debug lines
  <link rel="stylesheet" href="css/style.css" media="screen" />
  <link rel="stylesheet" href="css/responsive.css" media="screen" />
  <link rel="stylesheet" href="css/fonts.css" media="screen" />
  end of temporary debug lines-->

  <!-- open graph image array (http://ogp.me/#array), see also issue #115-->
  <meta property="og:image" content="{{{pageData.url.origin}}}/img/logo/logo400x400.png">
  <meta property="og:image:secure_url" content="{{{pageData.url.origin}}}/img/logo/logo400x400.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="400">
  <meta property="og:image:height" content="400">
  <meta property="og:image:alt" content="An icon representing a colorful symetric car, having a dollar sign inside it">

  <meta property="og:image" content="{{{pageData.url.origin}}}/img/logo/logo200x200.png">
  <meta property="og:image:secure_url" content="{{{pageData.url.origin}}}/img/logo/logo200x200.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="200">
  <meta property="og:image:alt" content="An icon representing a colorful symetric car, followed by the word autocosts">

  <meta property="og:image" content="{{{pageData.url.origin}}}/img/logo/logo200x147.png">
  <meta property="og:image:secure_url" content="{{{pageData.url.origin}}}/img/logo/logo200x147.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="200">
  <meta property="og:image:height" content="147">
  <meta property="og:image:alt" content="An icon representing a colorful symetric car, having a dollar sign inside it">

  <meta property="og:image" content="{{{pageData.url.origin}}}/img/logo/logo154x154.png">
  <meta property="og:image:secure_url" content="{{{pageData.url.origin}}}/img/logo/logo154x154.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="154">
  <meta property="og:image:height" content="154">
  <meta property="og:image:alt" content="An icon representing a colorful symetric car, followed by the word autocosts">

  <!--favicons-->
  <link href="/favicon.png" rel="shortcut icon" type="image/png">
  <link href="/favicon32x32.png" sizes="32x32" rel="shortcut icon" type="image/png">
  <link href="/favicon72x72.png" sizes="72x72" rel="shortcut icon" type="image/png">
  <link href="/favicon114x114.png" sizes="114x114" rel="shortcut icon" type="image/png">
  <link href="/favicon144x144.png" sizes="144x144" rel="shortcut icon" type="image/png">
  <link href="/favicon192x192.png" sizes="192x192" rel="shortcut icon" type="image/png">

  <script type="application/ld+json">{{> structuredData }}</script>
</head>

<body>

  {{{body}}}

</body>
</html>
